.frmdb-copy {
    background-color: white;
}

.main-pt-slim {
    padding-top: calc(32px + var(--nav-link-height) - var(--nav-link-padding-y) * 2);
}

.main-pt {
    padding-top: calc(32px + var(--nav-link-height));
}
