<p>
  ERR: route/page not-found!
</p>

<table class="table table-bordered table-sm">
  <tr>
    <td><span class="entity-name level1">Order</span></td>
    <td><span class="name">user</span>Gigi</td>
    <td><span class="name">created_at</span>2018-01-01 17:49:33</td>
    <td><span class="name">updated_at</span>2018-01-02 11:01:12</td>
    <td><span class="name">nb items</span>4</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td><span class="entity-name level2">Item</span></td>
    <td><span class="name">product code</span>P1</td>
    <td><span class="name">product name</span>Product 1</td>
    <td><span class="name">requested quantity</span>10</td>
    <td><span class="name">reserved quantity</span>5</td>
    <td><span class="name">available stock</span>5</td>
    <td><span class="name">client stock</span>1</td>
    <td><span class="name">product</span>Product 1</td>
    <td><span class="name">product</span>Product 1</td>
  </tr>
  <tr>
    <td><span class="entity-name level2">Item</span></td>
    <td><span class="name">product code</span>P2</td>
    <td><span class="name">product name</span>Product 2</td>
    <td><span class="name">requested quantity</span>10</td>
    <td><span class="name">reserved quantity</span>5</td>
    <td><span class="name">available stock</span>5</td>
    <td><span class="name">client stock</span>1</td>
    <td><span class="name">product</span>Product 1</td>
    <td><span class="name">product</span>Product 1</td>
  </tr>
  <tr>
    <td><span class="entity-name level2">Item</span></td>
    <td><span class="name">product code</span>P3</td>
    <td><span class="name">product name</span>Product 3</td>
    <td><span class="name">requested quantity</span>10</td>
    <td><span class="name">reserved quantity</span>5</td>
    <td><span class="name">available stock</span>5</td>
    <td><span class="name">client stock</span>1</td>
    <td><span class="name">product</span>Product 1</td>
    <td><span class="name">product</span>Product 1</td>
  </tr>
  <tr>
    <td><span class="entity-name level2">Item</span></td>
    <td><span class="name">product code</span>P4</td>
    <td><span class="name">product name</span>Product 4</td>
    <td><span class="name">requested quantity</span>10</td>
    <td><span class="name">reserved quantity</span>5</td>
    <td><span class="name">available stock</span>5</td>
    <td><span class="name">client stock</span>1</td>
    <td><span class="name">product</span>Product 1</td>
    <td><span class="name">product</span>Product 1</td>
  </tr>
</table>