a.theme-color-pallete-red {
    height: 20px;
    width: 20px;
    background-color: red;
    border-radius: 50%;
    border: 0
}

a.theme-color-pallete-purple {
    height: 20px;
    width: 20px;
    background-color: red;
    border-radius: 50%;
    border: 0
}

.formula-button {
    margin-right: 5px;
    border: 0px;
}

.formula-button.isDisabled {
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
}

.formula-input {
    min-width: 500px;
    resize: none;
    overflow: hidden;
}
