:host {
    position: absolute;
    top: 0;
    right: 0;
    a.context-menu-button {
        position: absolute;
        top: 0;
        right: 1em;
        cursor: pointer;
        font-size: large;
        background-color: lightgray;
        border-radius: 50%;
        color: white;
        display: block;
        width: 0.75rem;
        height: 0.75rem;
        font-size: 0.75rem;
        text-align: center;
        vertical-align: middle;
        &:hover {
            background-color: black;
            color: white;
        }
    }
    ul.context-menu {
        background-color: rgba(255, 255, 255, .6);
        position: absolute;
        top: .2rem;
        right: 1em;
        border: 1px solid darkgray;
        list-style: none;
        padding: .3rem;
        text-align: left;
        z-index: 10002;
        li {
            &:hover{
                background-color: lightgray;
            }
        }
    }
}