.mwz-table {
    width: 100%;
    tbody {
        height: 30em;
        overflow-y: auto;
        width: 90%;
    }
    thead{
        width:90%;
    }
    thead,
    tbody,
    th {
        display: block;
    }
    tbody {
        td {
            float: left;
        }
    }
    thead {
        tr {
            th {
                float: left;
            }
        }
    }
}

.mwz-data-table{
    td{
        white-space: nowrap;
        overflow: hidden;
    }
}