<div class="mwz-table-wrapper">
    <table class="table table-bordered table-sm table-striped table-hover mwz-data-table">
        <thead>
            <tr>
                <th>#</th>
                <th [class.table-highlight]="prop._id&&prop._id===highlighted" *ngFor="let prop of (table$ | async)?.columns">{{prop.name}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of (data$ | async); let rowIdx = index" (mouseenter)="onRowClicked(rowIdx, row)" (dblclick)="onEditClicked(row)" [class.table-primary]='rowIdx == selectedRowIdx'>
                <td>
                    <div class="mwz-table-action p-2" *ngIf="rowIdx == selectedRowIdx">
                        <i (click)="onEditClicked(row)" class="fa fa-pencil"></i>
                    </div>
                    {{rowIdx + 1}}</td>
                <td *ngFor="let prop of (table$ | async)?.columns" [class.table-highlight]="prop._id&&prop._id===highlighted"
                    data-toggle="tooltip" data-placement="top" title="{{row[prop.name]}}">{{row[prop.name]}}</td>
            </tr>
        </tbody>
    </table>
</div>
<mwz-modal>
    <router-outlet></router-outlet>
</mwz-modal>