<div class="mwz-table-wrapper">
    <table class="table table-bordered table-sm table-striped table-hover mwz-data-table">
        <thead>
            <tr>
                <th>#</th>
                <th *ngFor="let prop of (table$ | async)?.columns">{{prop.name}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of (data$ | async); let rowIdx = index" (dblclick)="onEditClicked(row)" [class.table-primary]='rowIdx == selectedRowIdx'>
                <td>
                    <button (click)="onEditClicked(row)" *ngIf="rowIdx == selectedRowIdx">
                        <i class="fa fa-pencil"></i>
                    </button> {{rowIdx + 1}}</td>
                <td *ngFor="let prop of (table$ | async)?.columns" (click)="onRowClicked(rowIdx, row)" data-toggle="tooltip" data-placement="top"
                    title="{{row[prop.name]}}">{{row[prop.name]}}</td>
            </tr>
        </tbody>
    </table>
</div>
<mwz-modal>
    <router-outlet></router-outlet>
</mwz-modal>