<div class="modal-header">
  <h4 class="modal-title">Hi there!</h4>
  <button type="button" class="close" aria-label="Close" >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">

  <a href="javascript:void(0)" (click)="switchTheme(0)">0. Light Bootstrap</a><br />
  <a href="javascript:void(0)" (click)="switchTheme(1)">1. Material Dashboard</a><br />
  <a href="javascript:void(0)" (click)="switchTheme(2)">2. NowUI Dashboard</a><br />

</div>
<div class="modal-footer">
  <!-- <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button> -->
</div>