*
!dist-be/frmdb-be*.js
!formuladb/*.html
!formuladb/*.js
!formuladb/*.js.map
!formuladb/*.css
!formuladb/css
!formuladb/icons
!formuladb/img
!package.json
!k8s
!skaffold.yaml
!ci/FormulaDB-storage-full.json
!ssh
!scripts
!git/formuladb-env
