[submodule "formuladb-apps"]
	path = wwwroot/git/formuladb-apps
	url = git@gitlab.com:metawiz/formuladb-apps.git
[submodule "formuladb-static"]
	path = formuladb-static
	url = git@gitlab.com:metawiz/formuladb-static.git
