[submodule "formuladb-static"]
	path = formuladb-static
	url = git@gitlab.com:metawiz/formuladb-static.git
[submodule "formuladb-apps"]
	path = formuladb-apps
	url = git@gitlab.com:metawiz/formuladb-apps.git
[submodule "formuladb-themes"]
	path = formuladb-themes
	url = git@gitlab.com:metawiz/formuladb-themes.git
[submodule "formuladb-e2e"]
	path = formuladb-e2e
	url = git@gitlab.com:metawiz/formuladb-e2e.git
[submodule "formuladb-icons"]
	path = formuladb-icons
	url = git@gitlab.com:metawiz/formuladb-icons.git
