[submodule "formuladb-e2e"]
	path = formuladb-e2e
	url = ../formuladb-e2e.git
[submodule "formuladb-themes"]
	path = formuladb-themes
	url = ../formuladb-themes.git
[submodule "formuladb-icons"]
	path = formuladb-icons
	url = ../formuladb-icons.git
