<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>FormulaDB frmdb-highlight</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" id="frmdb-look-css" href="../_css/lux-ffc208-353b41.css">
</head>

<body>

    <h1 id="highlight">Highlight h1</h1>
    <div id="highlight-root-el">
        <h2>Heading h2</h2>
        <p id="highlight-p">Paragraph that can be highlighted</p>
        <button class="btn btn-primary">Some Button</button>
        <frmdb-highlight highlighted-element="#highlight-p" style="border: 1px solid red">
            <div slot="actions-top">
                <div class="btn dropdown frmdb-dropdown-hover" title="Move Element">
                    Paragraph <i class="frmdb-i-ellipsis-v"></i>
                    <div class="dropdown-menu dropdown-menu-right px-2 text-nowrap">
                        <a class="btn" data-frmdb-action="move-start" href="javascript:void(0)" title="Move element"><i class="frmdb-i-arrows-alt"></i></a>
                        <a class="btn" data-frmdb-action="edit" href="javascript:void(0)" title="Edit element text"><i class="frmdb-i-edit"></i></a>
                        <a class="btn" data-frmdb-action="copy-start" href="javascript:void(0)" title="Copy element"><i class="frmdb-i-copy"></i></a>
                        <a class="btn" data-frmdb-action="delete" href="javascript:void(0)" title="Remove element"><i class="frmdb-i-trash"></i></a>
                    </div>
                </div>
            </div>
        </frmdb-highlight>
    </div>

    <div data-frmdb-fragment="_scripts.html"></div>
    <link rel="stylesheet" href="/formuladb/frmdb-editor.min.css">
</body>

</html>

</html>