/**
 * © 2018 S.C. FORMULA DATABASE S.R.L.
 * License TBD
 */

 .custom-day {
    text-align: center;
    padding: 0.185rem 0.25rem;
    display: inline-block;
    height: 2rem;
    width: 2rem;
  }
  .custom-day.focused {
    background-color: #e6e6e6;
  }
  .custom-day.range, .custom-day:hover {
    background-color: rgb(2, 117, 216);
    color: white;
  }
  .custom-day.faded {
    background-color: rgba(2, 117, 216, 0.5);
  }

  .frmdb-from-to {
      position: absolute; 
      top: -1.8em;
      width: 12ch;
      padding: 0 1em 0 1em;
  }

:host ::ng-deep .ngb-dp-day {
  // width: 40px;
  // height: 40px;
}
