<label [for]="inputElement._id">
    {{inputElement.propertyName | i18n}}
    <div class="frmdb-input-dev-mode-label" *ngIf="frmdbStreams.devMode$ | async">{{inputElement.propertyName}}</div>
</label>
<input [id]="inputElement._id" class="form-control" [type]="getType()" [name]="parentFormPath" [formControl]="topLevelFormGroup.get(parentFormPath)"
    *ngIf="hasControl(parentFormPath)" frmdbOnfocus />

<div class="form-input-feedback-invalid" *ngIf="ctrl && ctrl.dirty && ctrl.invalid">
    <div *ngFor="let err of getErrors()">
        {{err | i18n }}
    </div>
</div>