@import "../_colors/_color-TBDTBD-TBDTBD.scss";
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

:root {

  @each $color, $value in $theme-colors {
    --color-#{$color}-dark7-5: #{darken($value, 7.5%)};
    --color-#{$color}-dark10: #{darken($value, 10%)};
    --color-#{$color}-dark12-5: #{darken($value, 12.5%)};
    --color-#{$color}-dark-emphasized-link-hover: #{darken($value, $emphasized-link-hover-darken-percentage)};
    --color-#{$color}-a5: rgba($value, .5);

    --color-#{$color}-bg-gradient: #{mix($body-bg, $value, 15%)};
    --color-#{$color}-yiq: #{color-yiq($value)};
    --color-#{$color}-button-focus-shadow: #{rgba(mix(color-yiq($value), $value, 15%), .5)};
    --color-#{$color}-dropdown-toggle: #{color-yiq(darken($value, 10%))};

    $alert-background: theme-color-level($color, $alert-bg-level);
    $alert-border: theme-color-level($color, $alert-border-level);
    $alert-color: theme-color-level($color, $alert-color-level);
    --color-alert-#{$color}-bg: #{$alert-background};
    --color-alert-#{$color}-border: #{$alert-border};
    --color-alert-#{$color}: #{$alert-color};
    --color-alert-#{$color}-hr-border: #{darken($alert-border, 5%)};
    --color-alert-#{$color}-link: #{darken($alert-color, 10%)};

    --color-list-group-item-#{$color}: #{theme-color-level($color, 6)};
    --color-list-group-item-#{$color}-bg: #{theme-color-level($color, -9)};
    --color-list-group-item-#{$color}-bg-action: #{darken(theme-color-level($color, -9), 5%)};

    --color-table-row-#{$color}-border: #{theme-color-level($color, $table-border-level)};
    --color-table-row-#{$color}-bg: #{theme-color-level($color, $table-bg-level)};
    --color-table-row-#{$color}-bg: #{darken(theme-color-level($color, $table-bg-level), 5%)};
  }

  --color-popover-header-bg: #{darken($popover-header-bg, 5%)};
  --color-link-hover-color: #{darken($link-color, 15%)};
  --color-dropdown-link-hover-color: #{darken($gray-900, 5%)};
  --color-popover-header-bg:  #{darken($popover-bg, 3%)};
}
