
$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #eee;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #bbb;
$gray-600: #666;
$gray-700: #444;
$gray-800: #222;
$gray-900: #212121;
$black:    #000;

$blue:    #2196F3;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #e83e8c;
$red:     #e51c23;
$orange:  #fd7e14;
$yellow:  #ff9800;
$green:   #4CAF50;
$teal:    #20c997;
$cyan:    #9C27B0;

$primary:       $blue;
$secondary:     $white;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         $white;
$dark:          $gray-800;

$yiq-contrasted-threshold:  170;

$body-color:    $gray-700;
