@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/_mixins";
.layout-container {
    position: relative;
}


.drag-handle {
    position: absolute;
    right: .5rem;
    top:0;
    width: .5rem;
    height: .5rem;
    z-index: 1000;
    cursor: move;
}