@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/_mixins";
.layout-container {
    position: relative;
}


.drag-handle {
    position: absolute;
    right: 0;
    top: 0;
    color: lightgrey;
    // width: .5rem;
    // height: .5rem;
    z-index: 1000;
    cursor: move;
}