.frmdb-nav-segment-text {
    position: relative
}
.frmdb-nav-segment-dev-mode-identifier {
    position: absolute;
    top: 1.9em;
    left: 0;
    font-size: 0.5em;
    color: lightgrey;
    text-transform: none;
}
