$white:    #fff;
$gray-100: #f6f9fc;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #8898aa;   // Line footer color
$gray-700: #525f7f;   // Line p color
$gray-800: #32325d;   // Line heading color
$gray-900: #212529;
$black:    #000;

$blue:    #5e72e4;
$indigo:  #5603ad;
$purple:  #8965e0;
$pink:    #f3a4b5;
$red:     #f5365c;
$orange:  #fb6340;
$yellow:  #ffd600;
$green:   #2dce89;
$teal:    #11cdef;
$cyan:    #2bffc6;

$primary:       $blue;
$secondary:     #f4f5f7;
$success:       $green;
$info:          $teal;
$warning:       $orange;
$danger:        $red;
$light:         $gray-500;
$dark:          $gray-900;
