<label class="frmdb-input-label" [for]="inputElement._id" *ngIf="!inputElement.noLabel">
    {{inputElement.propertyName | i18n}}
    <div class="frmdb-input-dev-mode-label" *ngIf="frmdbStreams.devMode$ | async">.{{inputElement.propertyName}}</div>
</label>
<input [id]="fullpath" class="form-control" [type]="getType()" [name]="fullpath" [formControl]="formgrp.get(fullpath)"
    *ngIf="hasControl(fullpath)" frmdb-on_focus />

<div class="form-input-feedback-invalid" *ngIf="ctrl && ctrl.dirty && ctrl.invalid && !inputElement.noLabel">
    <div *ngFor="let err of getErrors()">
        {{err | i18n }}
    </div>
</div>