@media (min-width: 768px) {
    :host ::ng-deep {
        font-size: 16px;
    }
}

:host ::ng-deep {
    font-size: 14px;

    [frmdb-v_nav] [frmdb-v_nav_segment] {
        flex-direction: row !important;
        a p {
            margin-bottom: 0 !important;
        }
    }

    .container {
        max-width: 960px;
    }
    .pricing-header {
        max-width: 700px;
    }
    .card-deck .card {
        min-width: 220px;
    }
}