:host([disabled="true"]) {
    display: none !important;
}

:host {
    position: absolute;
    display: block;
    pointer-events: none;
    z-index: 10;

    &.is-at-top .actions.top { 
        transform: translateY(0%); 
    }

    .actions {
        position: absolute;
        z-index: 11;
        display: flex;
        flex-wrap: nowrap;

        &.top {
            top: 0;
            transform: translateY(-100%);
            left: 0;
            justify-content: left;
        }
        &.top-left {
            top: 0;
            transform: translateX(-75%) translateY(-65%);
            left: 0;
            justify-content: left;
        }
        &.middle {
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            justify-content: center;
            align-items: center;
        }
        &.bottom {
            bottom: 0;
            right: 0;
            justify-content: right;
        }

        ::slotted(*) {
            pointer-events: initial;
        }
    }
}
