:host([disabled="true"]) {
    display: none !important;
}

:host(.is-at-top) {
    .actions.top { 
        transform: translateY(0%); 
    }
    .actions.left { 
        transform: translateX(-25%) translateY(25%); 
    }
}

:host {
    position: absolute;
    display: block;
    pointer-events: none;
    z-index: 10;

    .actions {
        position: absolute;
        z-index: 11;
        display: flex;
        flex-wrap: nowrap;

        &.top {
            top: 0;
            transform: translateY(-100%);
            left: 0;
            justify-content: left;
        }
        &.left {
            top: 0;
            bottom: 0;
            left: 0;
            justify-content: center;
            align-items: center;
        }        
        &.right {
            top: 0;
            bottom: 0;
            right: 0;
            justify-content: center;
            align-items: center;
        }        
        &.middle {
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            justify-content: center;
            align-items: center;
        }
        &.bottom {
            bottom: 0;
            right: 0;
            justify-content: right;
        }

        ::slotted(*) {
            pointer-events: initial;
        }
    }
}
