svg {
    fill: currentColor;
    stroke: currentColor;
}

svg.frmdb-i-fill {
    stroke-opacity: 0;
}
svg.frmdb-i-outline {
    stroke-opacity: 0;
}
svg.frmdb-i-fill-slim {
    stroke-opacity: 0;

}
svg.frmdb-i-outline-slim {
    stroke-opacity: 0;

}
svg.frmdb-i-fill-thick {
    stroke-opacity: 1;
}
svg.frmdb-i-outline-thick {
    stroke-opacity: 1;
}
