<drop-handle [position]="position" [addedToEl]="item" orientation="add-new-row">
  <fa-icon [icon]="icon" [class.expanded]="expanded" class="fa-xs context-menu-button" (click)="toggleContext($event)"></fa-icon>
</drop-handle>

<ul class="context-menu" *ngIf="expanded" [style.top.px]="y" [style.left.px]="x">
  <!-- <ng-container *ngIf="availableTypes">
    <li *ngFor="let p of availableTypes" (click)="switchTo(p)">Switch to: {{p}}</li>
  </ng-container>
  <ng-container *ngIf="availableChildren">
    <li *ngFor="let p of availableChildren" (click)="addChild(p)">Add {{p.nodeType}} {{p.propertyName}}</li>
  </ng-container> -->

  <li>
    <strong>Start Column Name:</strong>
    <select>
        <option disabled value="user_id">user_id</option>
        <option disabled value="user_name">user_name</option>
        <option disabled value="booking_item_id">booking_item_id</option>
        <option disabled value="booking_item_name">booking_item_name</option>
        <option disabled value="booking_item_price">booking_item_price</option>
        <option selected value="start_date">start_date</option>
        <option value="end_date">end_date</option>
        <option disabled value="days">days</option>
        <option disabled value="cost">cost</option>
        <option disabled value="bookings_for_the_same_room">bookings_for_the_same_room</option>
    </select>    
  </li>
  <li>
    <strong>End Column Name:</strong>
    <select>
        <option disabled value="user_id">user_id</option>
        <option disabled value="user_name">user_name</option>
        <option disabled value="booking_item_id">booking_item_id</option>
        <option disabled value="booking_item_name">booking_item_name</option>
        <option disabled value="booking_item_price">booking_item_price</option>
        <option value="start_date">start_date</option>
        <option selected value="end_date">end_date</option>
        <option disabled value="days">days</option>
        <option disabled value="cost">cost</option>
        <option disabled value="bookings_for_the_same_room">bookings_for_the_same_room</option>
    </select>    
  </li>
  <li>
    <strong>Related TablePage Data:</strong>
    <select>
        <option disabled value="user_id">user_id</option>
        <option disabled value="user_name">user_name</option>
        <option disabled value="booking_item_id">booking_item_id</option>
        <option disabled value="booking_item_name">booking_item_name</option>
        <option disabled value="booking_item_price">booking_item_price</option>
        <option disabled value="start_date">start_date</option>
        <option disabled value="end_date">end_date</option>
        <option disabled value="days">days</option>
        <option disabled value="cost">cost</option>
        <option selected value="bookings_for_the_same_room">bookings_for_the_same_room</option>
    </select>    
  </li>
  <!-- <li (click)="edit()">Edit</li>
  <li *ngIf="availableChildren" (click)="addChild()">Add Child</li>
  <li *ngIf="canDelete" (click)="delete()">Delete</li> -->
</ul>

<frmdb-form-item-editor [item]="item" [types]="availableTypes" [properties]="entityProperties"></frmdb-form-item-editor>