<ng-container *ngIf="cardContainer?.tableName">
    <div [class]="cardCssClasses" *ngFor="let childControl of formgrp.get(fullpath)?.controls; let idx = index">
        <ng-container [frmdbPageItems]="cardContainer.childNodes" [formgrp]="formgrp" [fullpath]="fullpath + '.' + idx" [rdonly]="rdonly"></ng-container>
    </div>
</ng-container>
<ng-container *ngIf="!cardContainer?.tableName && cardContainer?.refEntityName">
    <div [class]="cardCssClasses" *ngFor="let childControl of referencedTableRowsAsFormGroups; let idx = index">
        <ng-container [frmdbPageItems]="cardContainer.childNodes" [formgrp]="childControl" [fullpath]="''" [rdonly]="rdonly"></ng-container>
    </div>
</ng-container>
