<ng-container *ngIf="cardContainer?.tableName">
    <ng-container *ngFor="let childControl of formgrp.get(fullpath)?.controls; let idx = index">
        <frmdb-card [nodel]="cardContainer.card" [formgrp]="formgrp" [fullpath]="fullpath + '.' + idx" [rdonly]="rdonly">
        </frmdb-card>
    </ng-container>
</ng-container>
<ng-container *ngIf="!cardContainer?.tableName && cardContainer?.refEntityName">
    <ng-container *ngFor="let childControl of referencedTableRowsAsFormGroups; let idx = index">
        <frmdb-card [nodel]="cardContainer.card" [formgrp]="childControl" [fullpath]="''" [rdonly]="rdonly">
        </frmdb-card>
    </ng-container>
</ng-container>