<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="BasicComponents" data-toggle="tab" href="#BasicComponentsTab" role="tab" aria-controls="BasicComponentsTab"
            aria-selected="true">Basic Components</a>
        <a class="nav-item nav-link" id="Headers" data-toggle="tab" href="#HeadersTab" role="tab" aria-controls="HeadersTab" aria-selected="false">Headers</a>
        <a class="nav-item nav-link" id="Cards" data-toggle="tab" href="#CardsTab" role="tab" aria-controls="CardsTab" aria-selected="false">Cards</a>
        <a class="nav-item nav-link" id="FZPatterns" data-toggle="tab" href="#FZPatternsTab" role="tab" aria-controls="FZPatternsTab"
            aria-selected="false">F/Z/ZigZag
            Patters</a>
        <a class="nav-item nav-link" id="Media" data-toggle="tab" href="#MediaTab" role="tab" aria-controls="MediaTab" aria-selected="false">Media</a>
        <a class="nav-item nav-link" id="Magazine" data-toggle="tab" href="#MagazineTab" role="tab" aria-controls="MagazineTab"
            aria-selected="false">Magazine</a>
        <a class="nav-item nav-link" id="Widgets" data-toggle="tab" href="#WidgetsTab" role="tab" aria-controls="WidgetsTab" aria-selected="false">Widgets</a>
        <a class="nav-item nav-link" id="Dashboard" data-toggle="tab" href="#DashboardTab" role="tab" aria-controls="DashboardTab"
            aria-selected="false">Dashboard</a>
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="BasicComponentsTab" role="tabpanel" aria-labelledby="BasicComponents">
        <iframe src="/formuladb-themes/BasicComponents.html"></iframe>
    </div>
    <div class="tab-pane fade show container" id="HeadersTab" role="tabpanel" aria-labelledby="Headers">
    </div>
    <div class="tab-pane fade show container mt-5" id="CardsTab" role="tabpanel" aria-labelledby="Cards">
        <iframe src="/formuladb-themes/Cards.html"></iframe>
    </div>
    <div class="tab-pane fade show container" id="FZPatternsTab" role="tabpanel" aria-labelledby="FZPatterns">
    </div>
    <div class="tab-pane fade show container" id="MediaTab" role="tabpanel" aria-labelledby="Media"></div>
    <div class="tab-pane fade show container" id="MagazineTab" role="tabpanel" aria-labelledby="Magazine"></div>
    <div class="tab-pane fade show container" id="WidgetsTab" role="tabpanel" aria-labelledby="Widgets"></div>
    <div class="tab-pane fade show container" id="DashboardTab" role="tabpanel" aria-labelledby="Dashboard"></div>
</div>