<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="BasicComponents">Basic Components</a>
        <a class="nav-item nav-link" id="Headers">Headers</a>
        <a class="nav-item nav-link" id="Cards">Cards</a>
        <a class="nav-item nav-link" id="FZPatterns">F/Z/ZigZag Patters</a>
        <a class="nav-item nav-link" id="Media">Media</a>
        <a class="nav-item nav-link" id="Magazine">Magazine</a>
        <a class="nav-item nav-link" id="Widgets">Widgets</a>
        <a class="nav-item nav-link" id="Dashboard">Dashboard</a>
    </div>
</nav>
<div id="examples-canvas" class="w-100 h-100 position-relative overflow-hidden">
    <iframe src="/formuladb-themes/BasicComponents.html"></iframe>
    <frmdb-highlight-box class="names-hidden"></frmdb-highlight-box>
</div>
