ul {
    padding-left: 0px;
    margin: 0;
}
li {
    margin-top: 2px;
    font-size: 12px;
    white-space: nowrap;
}
.grand-parent {
    // background-color: green;
    // color: white;
    // background-clip: padding-box;
    border-bottom: 2px dotted yellow;
}
.parent {
    // background-color: yellow;
    // background-clip: padding-box;
    // color: black;
    border-bottom: 2px dotted red;
    margin-left: 10px;
}
.prev {
    // background-color: red;
    // background-clip: padding-box;
    // color: white;
    border-bottom: 2px dotted #4285f4;
    margin-left: 20px;
}
.elem {
    // background-color: #4285f4;
    // color: white;
    border-bottom: 2px solid #4285f4;
    margin-left: 20px;
}
