<ul>
    <li class="grand-parent" data-frmdb-value="grandParentElName" title="Grandparent Element Box"></li>
    <li>
        <ul>
            <li class="parent" data-frmdb-value="parentElName" title="Parent Element Box"></li>
            <li>
                <ul>
                    <li class="prev" data-frmdb-value="prevName" title="Previous Sibling Element Box"></li>
                    <li class="elem" data-frmdb-value="elName" title="Current Element Box"></li>
                </ul>
            </li>
        </ul>
    </li>
</ul>
