ul {
    padding-left: 0px;
}
li {
    font-size: 12px;
    white-space: nowrap;
}
.grand-parent {
    background-color: green;
    border: 2px dotted green;
    background-clip: padding-box;
    color: white;
}
.parent {
    background-color: yellow;
    border: 2px dotted yellow;
    background-clip: padding-box;
    color: black;
    padding-left: 5px;
}
.prev {
    background-color: red;
    border: 2px dotted red;
    background-clip: padding-box;
    color: white;
    padding-left: 10px;
}
.elem {
    background-color: #4285f4;
    border: 2px solid #4285f4;
    color: white;
    padding-left: 10px;
}