<div class="modal fade" id="icon-editor-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog mt-3 modal-xl" role="document">
        <div class="modal-content" style="height: 85vh">
            <div class="modal-header">
                <h5 class="modal-title"><i class="frmdb-i-image"></i> Choose Icon</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><small><i class="frmdb-i-window-close"></i></small></span>
                </button>
            </div>
            <div class="modal-body h-100 overflow-hidden mb-4">
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a style="cursor: pointer" class="nav-item nav-link active" data-toggle="tab" href="#Available_Icons">Available Icons</a>
                        <a style="cursor: pointer" class="nav-item nav-link" data-toggle="tab" href="#Paid_Icons">Premium Icons</a>
                    </div>
                </nav>
                <div class="tab-content h-100 overflow-auto">
                    <div class="tab-pane active" id="Available_Icons" role="tabpanel" aria-labelledby="home-tab">
                        <div class="card-deck frmdb-cards-wrap-5 text-center">
                            <a style="cursor: pointer" class="card border-0" data-frmdb-table="freeIconsNames[]">
                                <h1><frmdb-icon data-frmdb-attr="name::freeIconsNames[]"></frmdb-icon></h1>
                                <span data-frmdb-value="freeIconsNames[]"></span>
                            </a>
                        </div>
                    </div>
                    <div class="tab-pane" id="Paid_Icons" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="d-flex align-items-center">
                            <div class="input-group mb-3">
                                <input id="frmdb-search-premium-icons" type="text" class="form-control"
                                    placeholder="Search icons: hotels, water sports, beauty, consulting ...">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="frmdb-i-search"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="card-deck frmdb-cards-wrap-5">
                            <a style="cursor: pointer" class="card border-0 text-center" 
                                data-frmdb-table="premiumIcons[]" data-frmdb-attr="data-frmdb-premium-icon-id::premiumIcons[].iconId"
                            >
                                <img class="border rounded" data-frmdb-value="premiumIcons[].previewURL" data-frmdb-attr="alt::paidIconsUrls[].previewURL"
                                    style="width: 50px; height: 50px;">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
