<div class="modal fade frmdb-bg-dark-70 frmdb-level-2" id="img-editor-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><i class="frmdb-i-image"></i> Choose Image</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><small><i class="frmdb-i-window-close"></i></small></span>
                </button>
            </div>
            <div class="modal-body vh-90 overflow-hidden mb-4">
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" data-toggle="tab" href="#Uploaded_Images">Available Images</a>
                        <a class="nav-item nav-link" data-toggle="tab" href="#Free_Public_Images">Search Free Images</a>
                        <a class="nav-item nav-link" data-toggle="tab" href="#Paid_Images">Search Premium Images</a>
                    </div>
                </nav>
                <div class="tab-content h-100 overflow-auto">
                    <div class="tab-pane active" id="Uploaded_Images" role="tabpanel" aria-labelledby="home-tab">
                        <div>
                            <div class="container">
                                <div class="input-group mb-3">
                                    <input id="frmdb-search-available-images" type="text" class="form-control"
                                        placeholder="Search available images: hotels, water sports, beauty, consulting ..." />
                                    <div class="input-group-append">
                                        <span class="input-group-text"><i class="frmdb-i-search"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="card-columns text-center">
                                <a class="card border-0 d-flex flex-column text-center" data-frmdb-table="mediaObjectsUrls[]">
                                    <div>
                                        <img class="border rounded" data-frmdb-value="mediaObjectsUrls[]" data-frmdb-attr="alt::mediaObjectsUrls[]"
                                            style="max-height: 20vh">
                                    </div>
                                    <span data-frmdb-value="mediaObjectsUrls[]"></spandata-frmdb-value="mediaObjectsUrls[]">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="Free_Public_Images" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="d-flex align-items-center">
                            <a href="https://pixabay.com/" target="_blank"
                                style="margin:3px 15px 5px 0;font-size:12px;line-height:1.7;color:#555;display:block;float:left;padding:9px 12px 6px;border:1px solid #ccc">
                                <i style="display:block;width:68px;height:18px;overflow:hidden"><img src="/formuladb/img/pixabay-logo.svg"
                                        style="width:94px"></i>
                                Free Images
                            </a>
                            <div class="input-group mb-3">
                                <input id="frmdb-search-free-images" type="text" class="form-control"
                                    placeholder="Search images: hotels, water sports, beauty, consulting ..." />
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="frmdb-i-search"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="card-columns">
                            <a class="card border-0 text-center" data-frmdb-attr2="data-frmdb-img-id::freeImagesUrls[].imgId" data-frmdb-table="freeImagesUrls[]">
                                <img class="border rounded img-fluid" data-frmdb-value="freeImagesUrls[].webformatURL"
                                    data-frmdb-attr="alt::freeImagesUrls[].previewURL">
                                <div class="card-img-overlay d-flex flex-column justify-content-end">
                                    <div class="btn-group" role="group" aria-label="Basic example">
                                        <button data-frmdb-attr2="data-frmdb-download-url::freeImagesUrls[].previewURL"
                                            class="btn btn-outline-danger">Small</button>
                                        <button data-frmdb-attr2="data-frmdb-download-url::freeImagesUrls[].webformatURL"
                                            class="btn btn-outline-danger">Medium</button>
                                        <button data-frmdb-attr2="data-frmdb-download-url::freeImagesUrls[].largeImageURL"
                                            class="btn btn-outline-danger">Large</button>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="tab-pane" id="Paid_Images" role="tabpanel" aria-labelledby="home-tab">
                        <div class="d-flex align-items-center">
                            <div class="input-group mb-3">
                                <input id="frmdb-search-premium-images" type="text" class="form-control"
                                    placeholder="Search images: hotels, water sports, beauty, consulting ..." />
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="frmdb-i-search"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="card-columns">
                            <a class="card border-0 text-center" data-frmdb-table="premiumImagesUrls[]">
                                <img class="border rounded img-fluid" data-frmdb-value="premiumImagesUrls[].previewURL"
                                    data-frmdb-attr="alt::premiumImagesUrls[].previewURL">
                                <div class="card-img-overlay d-flex flex-column justify-content-end">
                                    <div class="btn-group" data-frmdb-attr="data-frmdb-premium-image-id::premiumImagesUrls[].imageId" role="group" aria-label="Basic example">
                                        <button data-frmdb-premium-image-select="small" class="btn btn-outline-danger">Small</button>
                                        <button data-frmdb-premium-image-select="medium" class="btn btn-outline-danger">Medium</button>
                                        <button data-frmdb-premium-image-select="large" class="btn btn-outline-danger">Large</button>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>