<frmdb-dev-mode-opts *ngIf="devMode && user?.isDeveloper"></frmdb-dev-mode-opts>

<router-outlet></router-outlet>

<a href="javscript:void()" *ngIf="user?.isDeveloper" (click)="toggleDevMode()" [class.dev-mode-on]="devMode" id="frmdb-toggle-dev-mode" >
    <fa-icon *ngIf="devMode" [icon]="closeDevModeIcon" class="fa-sm" alt="Close Developer Mode"></fa-icon>
    <img *ngIf="!devMode" class="shadow-lg" width="32" height="32" alt="Open Developer Mode"
        src="assets/formuladb32.png" />
</a>


<ul class="w-100 fixed-bottom mb-0 frmdb-copy" style="height: 12px; list-style-type: none;">
    <li style="font-size: 50%; color: lightgrey">
        Powered by
        <a href="http://formuladb.io" target="_blank">formuladb.io</a>
        &copy; 2018 S.C. FORMULA DATABASE S.R.L.
    </li>
</ul>
        