#frmdb-toggle-dev-mode {
    position: fixed;
    top: 2px;
    right: 5px;
    opacity: 0.5;
    cursor: pointer;
    z-index: 12345;
    border-radius: 2px;
}

#frmdb-toggle-dev-mode.dev-mode-on {
    opacity: 1;
}
