:host ::ng-deep {
    @import "~bootstrap/scss/bootstrap.scss";

    .navbar.fixed-top {
        z-index: 1031;
        box-shadow: 0 1rem 2rem rgba(234,88,72,.15) !important;
        background-color: rgb(234,88,72) !important;
    }

    .frmdb-theme-dropdown .dropdown-item {
        width: auto;
        display: inline-block;
    }

    .frmdb-themes {
        display: inline-grid;
        grid-template-columns: auto;
    }
    .frmdb-look-filters {
        display: inline-grid;
        grid-template-columns: auto auto;
    }
    .frmdb-layout-filters {
        display: inline-grid;
        grid-template-columns: auto auto;
    }

    @media (min-width: 450px) {
        .frmdb-themes {
            grid-template-columns: auto auto;
        }
        .frmdb-look-filters {
            grid-template-columns: auto auto auto;
        }
        .frmdb-layout-filters {
            grid-template-columns: auto auto auto;
        }
    }
    @media (min-width: 1200px) {
        .frmdb-themes {
            grid-template-columns: auto auto auto;
        }
        .frmdb-look-filters {
            grid-template-columns: auto auto auto auto;
        }
        .frmdb-layout-filters {
            grid-template-columns: auto auto auto auto;
        }
    }
}
