#frmdb-dev-mode-top-bar {
    position: fixed;
    top: 0;
    left: 0;
}

#frmdb-dev-mode-top-menu {
    position: fixed;
    top: 40px;
    right: 2px;
}

.add-del-things {
    padding-left: 5px;
    padding-right: 5px;
}
