# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
dist
./tmp
./out-tsc
./e2e/protractor_videos

# dependencies
node_modules
node

#data
./couchdb_data

# IDEs and editors
./.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
./.sass-cache
./connect.lock
./coverage
./libpeerconnection.log
npm-debug.log
testem.log
./typings

# e2e
./e2e/*.js
./e2e/*.map
./src/**/*.js
./src/**/*.map
./server/**/*.js
./server/**/*.map

tmp.txt

# System Files
.DS_Store
Thumbs.db

log
server/mwzhistory
server/mwztransactions
server/log.txt
couchdb_data
$Recycle.Bin
debug.log
package-lock.json
