.formula-code-editor {
    min-width: 50vw;
    white-space: nowrap;
    display: flex;
    align-items: center;
}

.formula-code-editor #toggle-formula-editor {
    font-size: 20px !important;
}

.formula-code-editor #toggle-formula-editor.active {
    background-color: var(--primary);
}

.formula-code-editor #toggle-formula-editor:focus {
    box-shadow: none;
}

.formula-code-editor > div {
    width: 98%;
    display: inline-block; 
    position: relative;
    top: 0;
    left: 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 1.5rem;
    margin: 0 5px 0 5px;
}

.btn {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 2px;
    border-radius: 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.bg-success {
    background-color: green;
}

.bg-danger {
    background-color: red;
}

.formula-code-editor > a > img {
    margin-top: -10px;
    margin-right: 5px;
}

.editor-textarea,
.editor-formatted-overlay {
    box-sizing: border-box;
    width: 100%;
    // padding: 1rem;
    border: none;
    font-family: monospace;
    font-size: 13px;
    background: transparent;
    white-space: pre-wrap;
    line-height: 19px;
    word-wrap: break-word;
}

.editor-textarea {
    background: rgb(253, 252, 252);
    outline: none;
    resize: none;
    overflow: hidden;
    opacity: 0.6;
    margin-left: 2px;
    z-index: 1;
    height: 22px;
    -webkit-overflow-scrolling: touch;
}

.editor-formatted-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    pointer-events: none;
    padding-top: 2px;
    padding-left: 4px;
    // overflow: hidden;
    margin: 0;
    height:100%;
    text-align: left;
}

.formula-code-editor .c_b6d0f988 { background-color: #99adce88 }
.formula-code-editor .c_f9ccf988 { background-color: #f9ccf988 }
.formula-code-editor .c_fcd9e188 { background-color: #fcd9e188 }
.formula-code-editor .c_d9f9e588 { background-color: #d9f9e588 }
.formula-code-editor .c_f5f9d988 { background-color: #f8f3c588 }

/*https://stackoverflow.com/questions/36265026/angular-2-innerhtml-styling*/
.formula-code-editor .suggestion{
    top:1.2rem;
    width:0;
    position: relative;
    display:inline-block;
    vertical-align: top;
    height: 1rem;
    overflow:visible;
}

.formula-code-editor .suggestion-element{
    background-color:lightgrey;
    color:black;
    padding-left:4px;
    width:25em;
}

.formula-code-editor .suggestion-element.suggestion-active{
    background-color:rgb(95, 95, 255);
    color:white;
}

.formula-code-editor .editor-error {
    text-decoration: underline red dotted;
}

.formula-code-editor .error-note-holder {
    top:-0.85rem;
    width:0;
    position: relative;
    display:inline-block;
    vertical-align: top;
    height: 1rem;
    overflow: hidden;
}
.formula-code-editor .editor-error.at-caret + .error-note-holder {
    overflow: visible;
}

.formula-code-editor .error-note{
    color:darkred;
    padding-left:4px;
    width:25rem;
    text-decoration:underline red dotted;
    background-color: white;
    opacity: 0.7;
    white-space: nowrap;
    overflow: hidden;
}

.formula-code-editor .color-red{
    color:red;
}

.formula-code-editor .color-blue{
    color: blue;
}

.formula-button {
    margin-right: 5px;
    border: 0px;
}

.formula-button.isDisabled {
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
}
