<div class="formula-code-editor d-flex">
    <button id="toggle-formula-editor" class="btn btn-secondary px-1" title="Enable/Disable Formula Editor">
        <i class=" frmdb-i-frmdb"></i>
    </button>
    <div class="editor">
      <textarea class="editor-textarea" readonly spellcheck="false"></textarea>
      <div class="editor-formatted-overlay"></div>
    </div>
    <button id="apply-formula-changes" class="btn btn-light px-1" disabled title="Apply Changes">
        <i class="la la-check-circle"></i>
    </button>    
</div>