<div class="formula-code-editor d-flex">
    <button id="toggle-formula-editor" class="btn btn-light p-1" title="Formula Editor">
        <img src="img/frmdb-icon.png" alt="Edit Formula" />
    </button>  
    <div class="editor">
      <textarea class="editor-textarea" readonly spellcheck="false"></textarea>
      <div class="editor-formatted-overlay"></div>
    </div>
    <button id="apply-formula-changes" class="btn btn-light p-1" disabled title="Apply Changes">
        <i class="la la-check-circle"></i>
    </button>    
</div>