<div class="formula-code-editor d-flex">
    <button id="toggle-formula-editor" class="btn btn-secondary p-1" 
        style="
            background-image: url('/formuladb/img/fx_icon.png'); 
            background-size: 22px 32px;
            background-repeat: no-repeat;
            background-position: center; 
        " 
        title="Formula Editor">
        &nbsp;&nbsp;&nbsp;
    </button>
    <div class="editor">
      <textarea class="editor-textarea" readonly spellcheck="false"></textarea>
      <div class="editor-formatted-overlay"></div>
    </div>
    <button id="apply-formula-changes" class="btn btn-light p-1" disabled title="Apply Changes">
        <i class="la la-check-circle"></i>
    </button>    
</div>