<div class="formula-code-editor">
    <a class="formula-button" [class.isDisabled]="!formulaEditorService.developerMode" href="javascript:void(0)">
        <img (click)="startEditing()" src="assets/img/formula16.png" width="16" height="16" *ngIf="!editorOn" />
        <span style="white-space: nowrap" *ngIf="editorOn">
            <fa-icon [icon]="discardChangesIcon" class="fa-sm" (click)="discardChanges()"></fa-icon>
            <fa-icon [icon]="applyChangesIcon" class="fa-sm" (click)="applyChanges()"></fa-icon>
        </span>
    </a>
    <div>
      <textarea class="editor-textarea" 
        #editor 
        spellcheck="false" 
        [(ngModel)]="editorExpr" 
        (keydown.tab)="onAutoComplete($event)" 
        (keydown.enter)="onAutoComplete($event)" 
        (keyup)="keyup(editor, $event)"
        (click)="click(editor, $event)" 
        (keydown.arrowdown)="nextSuggestion($event)" 
        (keydown.arrowup)="prevSuggestion($event)">
      </textarea>
      <div class="editor-formatted-overlay" [innerHtml]="ftext"></div>
    </div>
</div>
<div frmdb-popup *ngIf="editorOn">
  {{formulaEditorService?.formulaState?.editedProperty?.name}} = {{formulaEditorService?.formulaState?.previewEditedDataObj[formulaEditorService?.formulaState?.editedProperty?.name]}}
</div>