<form (ngSubmit)="save()">
  <div class="form-group">
    <label class="col-form-label" for="formGroupExampleInput">Example label</label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
  </div>
  <div class="form-group">
    <label class="col-form-label" for="formGroupExampleInput2">Another label</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
  </div>
  <button type="submit" class="btn btn-primary">Save</button>
  <button type="button" class="btn btn-danger" (click)="cancel()">Cancel</button>
</form>