:host {
    display: block;
    margin-left: 1rem;
}

.nav-link {
    display: inline-block !important;
    padding: .5rem!important;
    margin:.2rem!important;
    line-height:1.5!important;
    p{
        line-height:1.5!important;
    }
}