// :host {
//     display: block;
//     margin-left: 1rem;
// }

// .nav-link {
//     display: inline-block !important;
//     padding: .5rem!important;
//     margin:.2rem!important;
//     line-height:1.5!important;
//     p{
//         line-height:1.5!important;
//     }
// }

.nav-link{
    position:relative;
    p{
        i{
            position:absolute;
            font-size:.7rem;
            font-weight: 700;
            right:.3rem;
            top:1.2rem;
        }
    }
}

.nav{
    padding-left:1rem;
}

.frmdb-nav-segment-text {
    position: relative
}
.frmdb-nav-segment-dev-mode-identifier {
    position: absolute;
    top: 1em;
    left: 0;
    font-size: 0.75em;
    color: lightgrey;
    text-decoration: underline;
    text-transform: none;
}
