<div class="btn-group mr-3" role="group">
    <div class="btn-group mr-3" data-frmdb-select="i" role="menu">
        <button class="btn" id="frmdb-editor-color-palette-select" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="la la-square" data-frmdb-attr="style.color::selectedColor.primary"></i>
            <i class="la la-square" data-frmdb-attr="style.color::selectedColor.secondary"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="frmdb-editor-color-palette-select">
            <a class="dropdown-item" data-frmdb-table="colors[]">
                <i class="la la-square" data-frmdb-attr="style.color::colors[].primary"></i> Primary color 
                <i class="la la-square" data-frmdb-attr="style.color::colors[].secondary"></i> Secondary color        
            </a>
        </div>
    </div>
    <div class="btn-group mr-3" role="menu">
        <button class="btn" id="frmdb-editor-theme-select" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="la la-image"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-right" style="width: 65vw" aria-labelledby="frmdb-editor-theme-select">
            <div class="card-deck frmdb-cards-wrap-3">
                <div class="dropdown-item card" data-frmdb-table="themes[]" >

                    <nav class="navbar navbar-dark bg-primary">
                        <a class="navbar-brand" href="javascript:void(0)">Navbar</a>
                    </nav>

                    <h3 data-frmdb-value="themes[]"></h3>
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-primary">Primary</button>
                        <button type="button" class="btn btn-sm btn-secondary">Secondary</button>
                        <button type="button" class="btn btn-sm btn-success">Success</button>
                        <button type="button" class="btn btn-sm btn-info">Info</button>  
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>