$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #ddd;
$gray-300: #ccc;
$gray-400: #bbb;
$gray-500: #adb5bd;
$gray-600: #777;
$gray-700: #444;
$gray-800: #373a3c;
$gray-900: #212529;
$black:    #000;

$blue:    #007bff;
$indigo:  #6610f2;
$purple:  #9b479f;
$pink:    #e83e8c;
$red:     #d9230f;
$orange:  #d9831f;
$yellow:  #ffc107;
$green:   #469408;
$teal:    #20c997;
$cyan:    #029acf;

$primary:       $red;
$secondary:     $white;
$success:       $green;
$info:          $cyan;
$warning:       $purple;
$danger:        $orange;
$light:         $white;
$dark:          $gray-800;