<div class="formula-code-editor">
    <div style="margin: 0 5px 0 5px;">
      <textarea class="editor-textarea" 
        [disabled]="!editorOn"
        #editor 
        spellcheck="false" 
        [(ngModel)]="editorExpr" 
        (keydown.tab)="onAutoComplete($event)" 
        (keydown.enter)="onAutoComplete($event)" 
        (keyup)="keyup(editor, $event)"
        (click)="click(editor, $event)" 
        (keydown.arrowdown)="nextSuggestion($event)" 
        (keydown.arrowup)="prevSuggestion($event)">
      </textarea>
      <div class="editor-formatted-overlay" [innerHtml]="ftext"></div>
    </div>
</div>
<div frmdb-popup *ngIf="editorOn">
  {{formulaEditorService?.formulaState?.editedProperty?.name}} = {{formulaEditorService?.formulaState?.previewEditedDataObj? formulaEditorService?.formulaState?.previewEditedDataObj[formulaEditorService?.formulaState?.editedProperty?.name] : ''}}
</div>