@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/_mixins";

:host {
    position: absolute;
    color: $primary;
    top: 0;
    left: -1rem;
    i {
        font-size: 1rem !important;
        &.nc-compass-05{
            cursor:move;
        }
    }
}