<form class="mwz-editor position-sticky">
  <ngb-tabset #tabset="ngbTabset">
    <ngb-tab id="Table" title="Table" *ngIf="!isForm">
      <ng-template ngbTabContent>
        <div class="btn-toolbar mt-4 mb-2" role="toolbar">
          <div class="btn-group" data-toggle="buttons" name="formStateSelect" ngbRadioGroup [(ngModel)]="editorStates.table">
            <label class="btn btn-sm btn-secondary" ngbButtonLabel>
              <input type="radio" ngbButton value="tree" autocomplete="off">Tree
            </label>
            <label class="btn btn-sm btn-secondary" ngbButtonLabel>
              <input type="radio" ngbButton value="text" autocomplete="off">Text
            </label>
          </div>
          <div class="btn-group ml-4" role="group">
            <button class="btn btn-primary btn-sm" (click)="applyChanges(false)">Apply</button>
            <button class="btn btn-primary btn-sm" (click)="applyChanges(true)">Preview</button>
          </div>
        </div>
        <mwz-tree *ngIf="editorStates.table=='tree'" [node]="tableTree"></mwz-tree>
        <textarea *ngIf="editorStates.table=='text'" cols="120" wrap="off" name="formText" class="editor form" [(ngModel)]='tableText'></textarea>
      </ng-template>
    </ngb-tab>
    <ngb-tab id="Form" title="Form" *ngIf="isForm">
      <ng-template ngbTabContent>
        <div class="btn-toolbar mt-4 mb-2" role="toolbar">
          <div class="btn-group" data-toggle="buttons" name="formStateSelect" ngbRadioGroup [(ngModel)]="editorStates.form">
            <label class="btn btn-sm btn-secondary" ngbButtonLabel>
              <input type="radio" ngbButton value="tree" autocomplete="off">Tree
            </label>
            <label class="btn btn-sm btn-secondary" ngbButtonLabel>
              <input type="radio" ngbButton value="text" autocomplete="off">Text
            </label>
          </div>
          <div class="btn-group ml-4" role="group">
            <button class="btn btn-primary btn-sm" (click)="applyChanges(false)">Apply</button>
            <button class="btn btn-primary btn-sm" (click)="applyChanges(true)">Preview</button>
          </div>
        </div>
        <mwz-tree *ngIf="editorStates.form=='tree'" [node]="formTree"></mwz-tree>
        <textarea *ngIf="editorStates.form=='text'" cols="120" wrap="off" name="formText" class="editor form" [(ngModel)]='formText'></textarea>
      </ng-template>
    </ngb-tab>
    <ngb-tab id="Entity" title="Entity">
      <ng-template ngbTabContent>
        <div class="btn-toolbar mt-4 mb-2" role="toolbar">
          <div class="btn-group" data-toggle="buttons" name="formStateSelect" ngbRadioGroup [(ngModel)]="editorStates.entity">
            <label class="btn btn-sm btn-secondary" ngbButtonLabel>
              <input type="radio" ngbButton value="tree" autocomplete="off">Tree
            </label>
            <label class="btn btn-sm btn-secondary" ngbButtonLabel>
              <input type="radio" ngbButton value="text" autocomplete="off">Text
            </label>
          </div>
          <div class="btn-group ml-4" role="group">
            <button class="btn btn-primary btn-sm" (click)="applyChanges(false)">Apply</button>
            <button class="btn btn-primary btn-sm" (click)="applyChanges(true)">Preview</button>
          </div>
        </div>
        <textarea *ngIf="editorStates.entity=='text'" cols="120" wrap="off" name="entityText" class="editor form" [(ngModel)]='entityText'></textarea>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</form>