<form novalidate [formGroup]="metaItemForm" (ngSubmit)="save()">
  <div class="form-group" *ngFor="let d of element.descriptor">
    <label class="col-form-label" [attr.for]="d.property">{{d.property}}</label>
    <input *ngIf="d.type==='text'" [formControlName]="d.property" type="text" class="form-control" [attr.id]="d.property">
    <select *ngIf="d.type==='select'" [formControlName]="d.property" class="form-control" [attr.id]="d.property">
      <option *ngFor="let opt of d.attributes.selectValues">{{opt}}</option>
    </select>
  </div>
  <button [disabled]="metaItemForm.pristine" type="submit" class="btn btn-primary">Save</button>
  <button type="button" class="btn btn-danger" (click)="cancel()">Cancel</button>
</form>