<ng-container [formGroup]="formItemGroup" [ngSwitch]="formEl.nodeName">
    <div form-grid *ngSwitchCase="'form-grid'">
        <ng-container *ngFor="let childFormEl of formEl.childNodes">
            <form-item [formItemGroup]="formItemGroup" [formEl]="childFormEl"></form-item>
        </ng-container>
    </div>

    <div form-grid-row *ngSwitchCase="'form-grid-row'">
        <ng-container *ngFor="let childFormEl of formEl.childNodes">
            <form-item [formItemGroup]="formItemGroup" [formEl]="childFormEl"></form-item>
        </ng-container>
    </div>

    <div form-grid-col *ngSwitchCase="'form-grid-col'">
        <ng-container *ngFor="let childFormEl of formEl.childNodes">
            <form-item [formItemGroup]="formItemGroup" [formEl]="childFormEl"></form-item>
        </ng-container>
    </div>

    <div form-autocomplete [element]="formEl" [formGroup]="formItemGroup.get(formEl.entityName)" *ngSwitchCase="'form-autocomplete'" [formGroupName]="formEl.entityName" ngDefaultControl></div>

    <div form-input [element]="formEl" *ngSwitchCase="'form-input'" [formControlName]="formEl.propertyName" ngDefaultControl></div>

    <div *ngSwitchDefault style="border: 1px solid red;">Element NOT KNOWN /{{formEl.nodeName}}/!</div>
</ng-container>