<div class="btn-group mr-3" role="group">
    <div class="btn-group mr-3 dropdown frmdb-dropdown-hover" role="menu">
        <button class="btn" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i data-frmdb-attr="class:selectedFlag"></i>
        </button>
        <div class="dropdown-menu" aria-labelledby="frmdb-editor-i18n-select">
            <a class="dropdown-item text-nowrap" data-frmdb-table="languages[]" 
                data-frmdb-attr="href:languages[].urlPathname" data-frmdb-editor-link>
                <i data-frmdb-attr="class:languages[].flag"></i>
                <span data-frmdb-value="languages[].fullLanguage"></span>
            </a>
        </div>
    </div>
</div>
