.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .2);
    z-index: 10000;
}

.popup {
    width: 30rem;
    min-width: 20rem;
    background-color: white;
    padding: .5rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8rem;
    header {
        padding-bottom: 1rem;
        border-bottom: 1px solid darkgray;
        font-size: larger;
    }
    .popup-content {
        min-height: 20rem;
        section {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            label {
                flex-grow: 1;
            }
            select {
                flex-grow: 2;
            }
            input {
                flex-grow: 2;
            }
            padding:.5rem;
        }
    }
    footer {
        padding-top: 1rem;
        border-top: 1px solid darkgray;
    }
}