<form [formGroup]="theFormGroup" novalidate class="flex-fill">
    <div class="frmdb-form-status">
        <span class="frmdb-form-status-text badge-pill" 
            [class.badge-success]="theFormGroup.status == 'VALID'"  
            [class.badge-danger]="theFormGroup.status == 'INVALID'"
            [class.badge-warning]="theFormGroup.status == 'PENDING'"
        >
            {{ theFormGroup.status }}
        </span>
    </div>
    <frmdb-form_state [stateGraph]="(frmdbStreams.form$ | async)?.stateGraph" *ngIf="(frmdbStreams.form$ | async)?.stateGraph"></frmdb-form_state>
    <frmdb-form_item [nodeElement]="(frmdbStreams.form$ | async)?.grid" [topLevelFormGroup]="theFormGroup" parentFormPath="" [formReadOnly]="formReadOnly"
         *ngIf="(frmdbStreams.form$ | async)">
    </frmdb-form_item>
</form>