@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700,200");
@import url("https://use.fontawesome.com/releases/v5.0.6/css/all.css");
// @import url("https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css");

@font-face {
    font-family: 'Nucleo Outline';
    src: url('/assets/now-uidashboard-theme/fonts/nucleo-outline.eot');
    src: url('/assets/now-uidashboard-theme/fonts/nucleo-outline.eot') format('embedded-opentype'),
    url('/assets/now-uidashboard-theme/fonts/nucleo-outline.woff2') format('woff2'),
    url('/assets/now-uidashboard-theme/fonts/nucleo-outline.woff') format('woff'),
    url('/assets/now-uidashboard-theme/fonts/nucleo-outline.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
:host ::ng-deep {
    @import "~bootstrap/scss/bootstrap.scss";
    @import "./now-ui-dashboard";
}