<div class="wrapper frmdb-layout">
  <div class="sidebar" data-color="orange">
    <!--
      Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
  -->
    <div class="logo">
      <a href="http://www.creative-tim.com" class="simple-text logo-mini">
        Logo TBD
      </a>
      <a href="http://www.creative-tim.com" class="simple-text logo-normal">
        Brand TBD
      </a>
    </div>
    <div class="sidebar-wrapper">
      <ul frmdb-navigation class="nav">
      </ul>
    </div>
  </div>
  <div class="main-panel">
    <!-- Navbar -->
    <frmdb-top-nav></frmdb-top-nav>
    
    <!-- End Navbar -->
    <div class="panel-header panel-header-sm">
      <canvas id="bigDashboardChart"></canvas>
    </div>
    <div class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <router-outlet></router-outlet>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="container-fluid">
          <nav>
            <ul>
              <li>
                <a href="https://blabla">
                  TBD
                </a>
              </li>
            </ul>
          </nav>
          <div class="copyright">
            <span style="font-size: 90%; color: grey">
              Powered by <a href="http://formuladb.io" target="_blank">formuladb.io</a> &copy; 2017 S.C. CRYSTALKEY S.R.L. &nbsp;
            </span>
            <span style="font-size: 70%; color: grey">
              ( webdesign &copy 2018; by <a href="https://www.invisionapp.com" target="_blank">Invision</a>. Coded by <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a> )
            </span>
          </div>
        </div>
      </footer>
    </div>
  </div>