<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
    <a href="/" class="navbar-brand">Metawiz</a>
    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
        aria-expanded="false" (click)="menuCollapsed = !menuCollapsed" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [ngbCollapse]="menuCollapsed" id="navbarResponsive">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active">
                <a routerLink="/form-editor" class="nav-link">Form editor</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a routerLink="/ecommerce" class="nav-link">
                    <i class="fa fa-cart"></i> E-commerce</a>
            </li>
            <li class="nav-item dropdown" ngbDropdown>
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false" ngbDropdownToggle>
                    Toggle dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown" ngbDropdownMenu>
                    <a class="dropdown-item" (click)="newDataObj()">Add {{selectedEntity?._id}}</a>
                    <a class="dropdown-item">Add Entity</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<nav class="navbar-dark bg-dark d-flex d-flex-row justify-content-between text-light">
    <a class="btn btn-xs" data-toggle="collapse" data-target="#leftSideBar" aria-controls="leftSideBar" [attr.aria-expanded]="!leftCollapsed"
        (click)="leftCollapsed = !leftCollapsed" aria-label="Toggle left side">
        <i [class.fa-toggle-on]="!leftCollapsed" [class.fa-toggle-off]="leftCollapsed" class="fa"></i> Side panel</a>
    <a class="btn btn-xs" data-toggle="collapse" data-target="#rightSideBar" aria-controls="rightSideBar" [attr.aria-expanded]="!rightCollapsed"
        (click)="rightCollapsed = !rightCollapsed" aria-label="Toggle right side">
        <i class="fa" [class.fa-toggle-on]="!rightCollapsed" [class.fa-toggle-off]="rightCollapsed"></i> Editor panel</a>
</nav>
<div class="container-fluid">
    <div class="row">
        <mwz-navigation id="leftSideBar" class="col-sm-2" [ngbCollapse]="leftCollapsed"></mwz-navigation>
        <div class="mwz-panel" [class.col-sm-12]="leftCollapsed&&rightCollapsed" [class.col-sm-10]="leftCollapsed||rightCollapsed"
            [class.col-sm-8]="!leftCollapsed&&!rightCollapsed">
            <router-outlet></router-outlet>
        </div>
        <editor class="col-sm-2" id="rightSideBar" [ngbCollapse]="rightCollapsed"></editor>
    </div>
</div>