<div slot="actions-top" class="d-flex flex-nowrap">
    <a class="btn" onclick="$FCMP(this).action(event, 'bold')" href="javascript:void(0)" title="Bold"><i><strong>B</strong></i></a>
    <a class="btn" onclick="$FCMP(this).action(event, 'italic')" href="javascript:void(0)" title="Italic"><i>I</i></a>
    <a class="btn" onclick="$FCMP(this).action(event, 'underline')" href="javascript:void(0)" title="Underline"><u>u</u></a>
    <a class="btn" onclick="$FCMP(this).action(event, 'strikeThrough')" href="javascript:void(0)" title="Strikeout"><del>S</del></a>
    <a class="btn" onclick="$FCMP(this).action(event, 'createLink')" href="javascript:void(0)" title="Create link"><strong>a</strong></a>
</div>