<div>&nbsp;</div>
<div id="boxDIV_1">
  <table id="frmdbHeader">
    <tr>
      <td id="frmdbLogo">
        <img id="frmdbIMG_6" width="66" height="62" alt="icon2.png" src="assets/icon2.webp" />
      </td>
      <td>
        <h1 id="frmdbH1_9">FormulaDB</h1>
        <div id="frmdbP_11">
          Build apps instantly using spreadsheet-like formulas.
        </div>
      </td>
    </tr>
  </table>

  <h1>My Applications</h1>
  <div style="white-space: nowrap;"><fa-icon [icon]="addIcon" class="fa-sm" (click)="addApp(appName)"></fa-icon>&nbsp;<input #appName type="text"/></div>
  <div id="myApps">

  </div>

  <h1>Example Applications</h1>
  <div id="exampleApps">
    <a routerLink="/inventory" ><frmdb-application imgSrc="assets/templates/inventory.jpg" appName="Basic Inventory, Single Warehouse" ></frmdb-application></a>
    <a routerLink="/booking" ><frmdb-application imgSrc="assets/templates/booking.jpg" appName="Booking Items (e.g. rooms, events, cars)" ></frmdb-application></a>
    <a routerLink="/expenses" ><frmdb-application imgSrc="assets/templates/expenses.jpg" appName="Expenses, Accounts, Transactions, Budgets" ></frmdb-application></a>
    <a routerLink="/ticketing" ><frmdb-application imgSrc="assets/templates/ticketing.png" appName="Ticketing, Issues" ></frmdb-application></a>
    <a routerLink="/planning" ><frmdb-application imgSrc="assets/templates/planning.jpg" appName="Planning, Meetings, Sessions" ></frmdb-application></a>
    <a routerLink="/ecommerce" ><frmdb-application imgSrc="assets/templates/eCommerce.jpg" appName="Basic eCommerce" ></frmdb-application></a>
    <a routerLink="/service" ><frmdb-application imgSrc="assets/templates/service.jpg" appName="Bike/Car Service" ></frmdb-application></a>
    <a routerLink="/reporting" ><frmdb-application imgSrc="assets/templates/reporting.png" appName="Reporting" ></frmdb-application></a>
  </div>
</div>






