:host {
    display: flex;
    flex-direction: row;
    padding: .3rem;
    flex-wrap: wrap;
    border: 1px dotted;
    min-width: 1rem;
    min-height: 2rem;
    border-color: transparent;
    width:100%;
    &.outline {
        border-color: rgb(218, 217, 217);
    }
}