@font-face {
    font-family: 'nucleo-icons';
    src: url('/assets/argon-theme/fonts/nucleo-icons.eot');
    src: url('/assets/argon-theme/fonts/nucleo-icons.eot') format('embedded-opentype'), url('/assets/argon-theme/fonts/nucleo-icons.woff2') format('woff2'), url('/assets/argon-theme/fonts/nucleo-icons.woff') format('woff'), url('/assets/argon-theme/fonts/nucleo-icons.ttf') format('truetype'), url('/assets/argon-theme/fonts/nucleo-icons.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

:host ::ng-deep {
    @import "./argon.scss";
}

