@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700,200");
// @import url("https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css");
@font-face {
    font-family: 'nucleo-icons';
    src: url('/assets/argon-theme/fonts/nucleo-icons.eot');
    src: url('/assets/argon-theme/fonts/nucleo-icons.eot') format('embedded-opentype'), url('/assets/argon-theme/fonts/nucleo-icons.woff2') format('woff2'), url('/assets/argon-theme/fonts/nucleo-icons.woff') format('woff'), url('/assets/argon-theme/fonts/nucleo-icons.ttf') format('truetype'), url('/assets/argon-theme/fonts/nucleo-icons.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

:host ::ng-deep {
    @import "~bootstrap/scss/bootstrap.scss";
    @import "./scss/argon.scss";
    
    .show .dropdown-menu {
        @include opacity(1);
        visibility: visible;
        transform: translate3d(0px, 0px, 0px) !important;
    }

    .main-panel .content .container-fluid {
        padding: 0;

        .row div {
            padding: 0;
        }
    }

}

