<li class="nav-item" data-frmdb-foreach="nav[]" data-frmdb-prop="entityId::nav[].id">
    <a style="padding: 10px 10px 10px 10px; margin: 3px" class="nav-link"
        [class.collapsed]="entity.children.length>0 && entity.collapsed && !entity.onPath" [attr.data-toggle]="'collapse'">
        <p>
            <span class="frmdb-nav-segment-text" data-frmdb-value="::nav[].linkNameI18n">
                <span class="frmdb-nav-segment-dev-mode-identifier" data-frmdb-value="::nav[].id"></span>
            </span>
            <i data-frmdb-if="::nav[].collapsed" class="icon-expand nc-icon nc-stre-right"></i>
            <i data-frmdb-if="!::nav[].collapsed" class="icon-collapse nc-icon nc-stre-down"></i>
            <i data-frmdb-if="::nav[].hasChildren">&nbsp;</i>
        </p>
    </a>
</li>
<ul class="nav flex-column" frmdb-v_nav_segment [nav]="entity.children" *ngIf="!entity.collapsed || entity.onPath"></ul>
