<ul class="nav flex-column" >
    <li class="nav-item" data-frmdb-foreach="nav[]" data-frmdb-prop="entityId::nav[].id">
        <a style="padding: 10px 10px 10px 10px; margin: 3px" class="nav-link"
            data-frmdb-attr="class.collapsed::nav[].collapsed" data-toggle="collapse">
            <p>
                <span class="frmdb-nav-segment-text" data-frmdb-value="::nav[].linkNameI18n">
                    <span class="frmdb-nav-segment-dev-mode-identifier" data-frmdb-value="::nav[].id"></span>
                </span>
                <i data-frmdb-if="::nav[].collapsed" class="icon-expand nc-icon nc-stre-right"></i>
                <i data-frmdb-if="!::nav[].collapsed" class="icon-collapse nc-icon nc-stre-down"></i>
                <i data-frmdb-if="::nav[].hasChildren">&nbsp;</i>
            </p>
        </a>
        <template data-frmdb-if="!::nav[].collapsed">
            <frmdb-v-nav-segment data-frmdb-prop="nav::nav[].children"></frmdb-v-nav-segment>
        </template>
    </li>
</ul>
