<ul class="list-unstyled">
    <ng-container *ngIf="mediaContainer?.tableName">
        <ng-container *ngFor="let childControl of formgrp.get(fullpath)?.controls; let idx = index">
            <frmdb-media [nodel]="media" [formgrp]="formgrp" [fullpath]="fullpath + '.' + idx" [rdonly]="rdonly">
            </frmdb-media>
        </ng-container>
    </ng-container>
    <ng-container *ngIf="!mediaContainer?.tableName && mediaContainer?.refEntityName">
        <ng-container *ngFor="let childControl of referencedTableRowsAsFormGroups; let idx = index">
            <frmdb-media [nodel]="media" [formgrp]="childControl" [fullpath]="''" [rdonly]="rdonly">
            </frmdb-media>
        </ng-container>
    </ng-container>
</ul>
