@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
:host {
    display: flex;
    overflow: hidden;
}

.mwz-table-placeholder {
    min-height: 575px;//FIXME: maximum allowed height, percent does not work
}

.mwz-table-wrapper {
    width: 100%;
    height:calc(100% - 270px);
    @include make-col(8);
    position: fixed;
    margin-top: .5rem;
}

.mwz-table-action {
    position: absolute;
    display: block;
    left: 0;
    margin-top: -.25rem;
    background-color: $gray-200;
    &:hover {
        background-color: $gray-600;
        color: white;
    }
}

::ng-deep ag-grid-angular{
    height: 100%;
}

::ng-deep ag-grid-angular > div {
    width: 100%;
    height: 100%;
}