<input data-frmdb-attr="name:attr.property_name" class="form-control" type="text" autocomplete="off"
    oninput="frmdbAction(event)" onkeydown="frmdbAction(event)"
/>
<div class="position-relative">
    <div class="card frmdb-autocomplete_popup" data-frmdb-attr="class.visible:state.popupOpened">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th data-frmdb-foreach="state.relatedControls[]" class="border-top-0">
                        {{relatedCtrl.refPropertyName | i18n}}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr data-frmdb-foreach="state.options[]" onclick="this.$cmp.selectOption(this)">
                    <td data-frmdb-foreach="state.options[].relatedControls[]" 
                        data-frmdb-attr="class.selected:state.options[].isSelected"
                        data-frmdb-value="state.options[].relatedControls[].optionWithHighlight">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>