<label data-frmdb-attr="for:property_name" data-frmdb-if="no_label">
    {{inputElement.refEntityName | i18n}}/{{inputElement.refPropertyName | i18n}}
</label>
<input [id]="fullpath" class="form-control" type="text" autocomplete="off"
    oninput="this.$cmp.text$.next($event.target.value)"
    onkeydown="this.$cmp.manageSelection()"
/>
<div class="position-relative">
    <div class="card frmdb-autocomplete_popup" data-frmdb-attr="class.visible:state.popupOpened">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th data-frmdb-foreach="state.relatedControls[]" class="border-top-0">
                        {{relatedCtrl.refPropertyName | i18n}}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="autoCompleteState.options; let idx = index" onclick="this.$cmp.selectOption(this)">
                    <td [class.selected]="currentOptionIdx == idx" *ngFor="let relatedCtrl of relatedControls">
                        <span *ngIf="relatedCtrl.propertyName === inputElement.propertyName" [innerHtml]="highlightOption(option)"></span>
                        <span *ngIf="relatedCtrl.propertyName !== inputElement.propertyName">{{option[relatedCtrl.propertyName]}}</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>