.frmdb-form-autocomplete {
    margin-left: 25px;
}

:host {
    position: relative;
}

.frmdb-autocomplete-popup {
    position: absolute;
    top: 5px;
    left: 0;
    display: none;
    z-index: 9123;
}

.frmdb-autocomplete-popup td {
    cursor: pointer;
}

.frmdb-autocomplete-popup td.selected {
    background-color: lightblue;
}

.frmdb-autocomplete-popup.visible {
    display: block;
}
