@font-face {
    font-family: "icons";
    src: url("./icons.eot?1c0c981777e715afd74fdef7b5e4563e?#iefix") format("embedded-opentype"),
url("./icons.woff2?1c0c981777e715afd74fdef7b5e4563e") format("woff2"),
url("./icons.woff?1c0c981777e715afd74fdef7b5e4563e") format("woff"),
url("./icons.ttf?1c0c981777e715afd74fdef7b5e4563e") format("truetype"),
url("./icons.svg?1c0c981777e715afd74fdef7b5e4563e#icons") format("svg");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-cards-row:before {
    content: "\f101";
}
.icon-cards:before {
    content: "\f102";
}
.icon-carousel:before {
    content: "\f103";
}
.icon-dashboard:before {
    content: "\f104";
}
.icon-f-pattern-solid:before {
    content: "\f105";
}
.icon-f-pattern:before {
    content: "\f106";
}
.icon-frmdb:before {
    content: "\f107";
}
.icon-grid-large:before {
    content: "\f108";
}
.icon-grid1:before {
    content: "\f109";
}
.icon-grid2:before {
    content: "\f10a";
}
.icon-grid4:before {
    content: "\f10b";
}
.icon-grid5:before {
    content: "\f10c";
}
.icon-list-solid:before {
    content: "\f10d";
}
.icon-list:before {
    content: "\f10e";
}
.icon-replace:before {
    content: "\f10f";
}
.icon-split-screen:before {
    content: "\f110";
}
