.wcol-0 {
    display: none;
}

@for $i from 1 through 12 {
    .wcol-#{$i} {
        grid-column: auto / span $i;
    }
}

.wcol-100 {
    grid-column: 1 / -1;
}

@for $i from 0 through 20 {
    $num: $i * 5;

    .h-#{$num} {
        height: percentage($num/100);
    }
    .mh-#{$num} {
        max-height: percentage($num/100);
    }
    .vh-#{$num} {
        height: #{$num}vh;
    }
    .mvh-#{$num} {
        max-height: #{$num}vh;
    }
    .hrem-#{$i} {
        height: #{$i}rem;
    }
    .hem-#{$i} {
        height: #{$i}em;
    }
    .d-flex.flex-column, .card {
        .h-#{$num} {
            flex: 0 0 #{$num};
        }
        .vh-#{$num} {
            flex: 0 0 #{$num}vw;
        }
        .hrem-#{$i} {
            flex: 0 0 #{$i}rem;
        }
    }
    
    .w-#{$num} {
        width: percentage($num/100);
    }
    .vw-#{$num} {
        width: #{$num}vw;
    }
    .wrem-#{$i} {
        width: #{$i}rem;
    }
    .d-flex.flex-row, .media {
        .w-#{$num} {
            flex: 0 0 percentage($num/100);
        }
        .vw-#{$num} {
            flex: 0 0 #{$num}vw;
        }
        .wrem-#{$i} {
            flex: 0 0 #{$i}rem;
        }
    }
}
