
.frmdb-form-dark {
    &, .input-group-text, input, .form-control:focus {
        background-color: $dark;
        color: $light;
    }

    .input-group {
        border: 1px solid $gray-600;
    }

}
