@mixin frmdb-section-dark-mixin($bgColor) {
    
    &, h1, h2, h3, h4, h5, h6, p {
        color: color-yiq($bgColor);
    }

    .input-group-text, input, .form-control:focus {
        // background-color: $dark;
        color: color-yiq($bgColor);
    }

    .input-group {
        border: 1px solid $gray-600;
    }
}
