
/* common */
.frmdb-ribbon {
    width: 70px;
    height: 70px;
    overflow: hidden;
    position: absolute;
}
.frmdb-ribbon::before,
.frmdb-ribbon::after {
    position: absolute;
    z-index: -1;
    content: '';
    display: block;
    border: 5px solid #2980b9;
}
.frmdb-ribbon span {
    position: absolute;
    display: block;
    width: 165px;
    padding: 5px 0;
    background-color: #ff749e;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    color: #fff;
    font: 700 12px/1 'Lato', sans-serif;
    text-shadow: 0 1px 1px rgba(0,0,0,.2);
    text-align: center;
}

.frmdb-ribbon span.warning {
    background-color: #ff749e;
}
.frmdb-ribbon span.success {
    background-color: #3dff9e;
}

/* top left*/
.frmdb-ribbon-top-left {
    top: -10px;
    left: -10px;
}
.frmdb-ribbon-top-left::before,
.frmdb-ribbon-top-left::after {
    border-top-color: transparent;
    border-left-color: transparent;
}
.frmdb-ribbon-top-left::before {
    top: 0;
    right: 0;
}
.frmdb-ribbon-top-left::after {
    bottom: 0;
    left: 0;
}
.frmdb-ribbon-top-left span {
    right: -40px;
    top: 18px;
    transform: rotate(-45deg);
}