<label [for]="parentFormPath" *ngIf="!inputElement.noLabel">
    {{inputElement.refEntityName | i18n}}/{{inputElement.refPropertyName | i18n}}
</label>
<input #input [id]="parentFormPath" class="form-control" type="text" [name]="parentFormPath" autocomplete="off"
    *ngIf="hasControl(parentFormPath)"
    [formControl]="control"
    (input)="text$.next($event.target.value)"
    (keydown.enter)="selectCurrentOption()" 
    (keydown.arrowdown)="nextSuggestion()" 
    (keydown.arrowup)="prevSuggestion()"
/>

<table [class.visible]="popupOpened" class="frmdb-autocomplete_popup table table-striped table-sm">
    <thead>
        <tr>
            <th *ngFor="let relatedCtrl of relatedControls">
                {{relatedCtrl.refPropertyName | i18n}}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let option of autoCompleteState?.options; let idx = index" (click)="selectOption(option)">
            <td [class.selected]="currentOptionIdx == idx" *ngFor="let relatedCtrl of relatedControls">
                <span *ngIf="relatedCtrl.propertyName === inputElement.propertyName" [innerHtml]="highlightOption(option)"></span>
                <span *ngIf="relatedCtrl.propertyName !== inputElement.propertyName">{{option[relatedCtrl.propertyName]}}</span>
            </td>
        </tr>
    </tbody>
</table>
