@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons");
// @import url("https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css");
:host ::ng-deep {
    @import "./material-dashboard";

    .sidebar-background {
        background-image: url('/assets/material-dashboard-theme/img/sidebar-1.jpg');
    }

    .wrapper {
        background-color: #eee;
    }

    .wrapper > .main-panel {
        background-color: #eee;
    }
}

.main-panel > .content > .container > .card {
    margin-bottom: 0px;
}