    :host {
      position: relative;
      width: 100%;
      margin-left: -100%;
  }

  :host.mwzFormHide{
      display:none;
  }

  .mwz-modal {
      background-color: rgba(120, 120, 120, 0.5);
      position: relative;
      width: 100%;
      padding: 3rem;
      overflow: auto;
  }

  .mwz-modal .body {
      background-color: white;
  }