<ng-container *ngIf="nodeElement.nodeName == 'form-grid' || nodeElement.nodeName == 'form-grid-row' || nodeElement.nodeName == 'form-grid-col'">
  <ng-container *ngFor="let childEl of nodeElement.childNodes">
    <div form-tabs [class.form-item-highlight]="highlighted===childEl._id" *ngIf="childEl.nodeName == 'form-tabs'" [nodeElement]="childEl"
      [topLevelFormGroup]="topLevelFormGroup" [parentFormPath]="getChildPath(childEl)" [formReadOnly]="formReadOnly" [highlighted]="highlighted"></div>

    <div form-table [class.form-item-highlight]="highlighted===childEl._id" *ngIf="childEl.nodeName == 'form-table'" [nodeElement]="childEl"
      [topLevelFormGroup]="topLevelFormGroup" [parentFormPath]="getChildPath(childEl)" [formReadOnly]="formReadOnly"></div>

    <div form-autocomplete [class.form-item-highlight]="highlighted===childEl._id" *ngIf="childEl.nodeName == 'form-autocomplete'"
      [nodeElement]="childEl" [topLevelFormGroup]="topLevelFormGroup" [parentFormPath]="getChildPath(childEl)" [formReadOnly]="formReadOnly"></div>

    <div form-input [class.form-item-highlight]="highlighted===childEl._id" *ngIf="childEl.nodeName == 'form-input'" [nodeElement]="childEl"
      [topLevelFormGroup]="topLevelFormGroup" [parentFormPath]="getChildPath(childEl)" [formReadOnly]="formReadOnly"></div>
    <div form-datepicker [class.form-item-highlight]="highlighted===childEl._id" *ngIf="childEl.nodeName == 'form-datepicker'"
      [nodeElement]="childEl" [topLevelFormGroup]="topLevelFormGroup" [parentFormPath]="getChildPath(childEl)" [formReadOnly]="formReadOnly"></div>
    <div form-timepicker [class.form-item-highlight]="highlighted===childEl._id" *ngIf="childEl.nodeName == 'form-timepicker'"
      [nodeElement]="childEl" [topLevelFormGroup]="topLevelFormGroup" [parentFormPath]="getChildPath(childEl)" [formReadOnly]="formReadOnly"></div>

    <div form-item [class.form-item-highlight]="highlighted===childEl._id" *ngIf="childEl.nodeName == 'form-grid' || childEl.nodeName == 'form-grid-row' || childEl.nodeName == 'form-grid-col'"
      [nodeElement]="childEl" [topLevelFormGroup]="topLevelFormGroup" [parentFormPath]="parentFormPath" [formReadOnly]="formReadOnly"
      [highlighted]="highlighted"></div>

    <div *ngIf="isUnknownElement(nodeElement)" style="border: 1px solid red;">Child Element NOT KNOWN '{{childEl.nodeName}}' !</div>

  </ng-container>
</ng-container>

<div *ngIf="isUnknownElement(nodeElement)" style="border: 1px solid red;">Element NOT KNOWN '{{nodeElement.nodeName}}' !</div>