
.frmdb-bg-parallax {
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.frmdb-bg-cover {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.frmdb-bg-1 {
    background-image: var(--frmdb-bg-img);
}
.frmdb-bg-2 {
    background-image: var(--frmdb-bg-img), var(--frmdb-bg-img-2);
    background-blend-mode: overlay;
}
.frmdb-bg-3 {
    background-image: var(--frmdb-bg-img), var(--frmdb-bg-img-2), var(--frmdb-bg-img-3);
    background-blend-mode: overlay;
}
.frmdb-bg-4 {
    background-image: var(--frmdb-bg-img), var(--frmdb-bg-img-2), var(--frmdb-bg-img-3), var(--frmdb-bg-img-4);
    background-blend-mode: overlay;
}

@each $nb in (1, 2, 3) {
    @each $animation in (zoomInOut) {
        .frmdb-bg-#{$nb}-#{$animation} {
            position: relative;

            &:before {
                content: "";
                display: block;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                z-index: -1;
                animation-name: #{$animation};
                animation-duration: 20s;
                animation-iteration-count: infinite;

                @if $nb == 1 {
                    background-image: var(--frmdb-bg-img);
                } @else if $nb == 2 {
                    background-image: var(--frmdb-bg-img), var(--frmdb-bg-img-2);
                    background-blend-mode: overlay;
                } @else if $nb == 3 {
                    background-image: var(--frmdb-bg-img), var(--frmdb-bg-img-2), var(--frmdb-bg-img-3);
                    background-blend-mode: overlay;
                } @else if $nb == 4 {
                    background-image: var(--frmdb-bg-img), var(--frmdb-bg-img-2), var(--frmdb-bg-img-3), var(--frmdb-bg-img-4);
                    background-blend-mode: overlay;
                }               
            }
        }
    }
}


@each $color, $value in $theme-colors {

    @each $size in (1, 2, 3, 4, 5, 6, 7, 8, 9, 10) {
        .frmdb-bg-#{$color}-#{$size}0 { 
            background-color: transparentize($value, $size / 10) !important;
        }
    }
}

:root {
    --frmdb-img-circles: #{str-replace(str-replace(str-replace(
            url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 800 500'><circle cx='0' cy='45' r='50' fill='#fff' fill-opacity='0.2' /><circle cx='70' cy='290' r='40' fill='#fff' fill-opacity='0.1' /><circle cx='200' cy='350' r='70' fill='#fff' fill-opacity='0.15' /><circle cx='370' cy='280' r='50' fill='#fff' fill-opacity='0.1' /><circle cx='780' cy='85' r='50' fill='#fff' fill-opacity='0.1' /><circle cx='770' cy='280' r='50' fill='#fff' fill-opacity='0.3' /><circle cx='760' cy='320' r='50' fill='#fff' fill-opacity='0.3' /></svg>")
        ,"#", "%23"),"<", "%3c"),">", "%3e")};
    --frmdb-img-divider-slope: #{str-replace(str-replace(str-replace(
            url("data:image/svg+xml,<svg x='0' y='0' viewBox='0 0 2560 100' preserveAspectRatio='none' version='1.1' xmlns='http://www.w3.org/2000/svg'><polygon fill='#fff' points='2560 0 2560 100 0 100'></polygon></svg>")
        ,"#", "%23"),"<", "%3c"),">", "%3e")};
    --frmdb-img-divider-slope-rv: #{str-replace(str-replace(str-replace(
            url("data:image/svg+xml,<svg x='0' y='0' viewBox='0 0 2560 100' preserveAspectRatio='none' version='1.1' xmlns='http://www.w3.org/2000/svg'><polygon fill='#fff' points='0 0 2560 0 0 100 0 0'></polygon></svg>")
        ,"#", "%23"),"<", "%3c"),">", "%3e")};
}

@mixin add-bg-classes($img-map) {
    @each $imgName, $imgValue in $img-map {
        .frmdb-bg-1-#{$imgName} {
            --frmdb-bg-img: #{$imgValue};
        }
        .frmdb-bg-2-#{$imgName} {
            --frmdb-bg-img-2: #{$imgValue};
        }
        .frmdb-bg-3-#{$imgName} {
            --frmdb-bg-img-3: #{$imgValue};
        }
        .frmdb-bg-4-#{$imgName} {
            --frmdb-bg-img-4: #{$imgValue};
        }
    }
}

$svg-images-map: (
    circles: var(--frmdb-img-circles),
    divider-slope: var(--frmdb-img-divider-slope),
    divider-slope-rv: var(--frmdb-img-divider-slope-rv),
);
@include add-bg-classes($svg-images-map);

@each $color, $value in $theme-colors {
    $color-images-map: (
        #{$color}-solid: linear-gradient($value, $value, $value),
        #{color}-gradient: linear-gradient(180deg, mix($body-bg, $value, 15%), $value),
    );

    @include add-bg-classes($color-images-map);

    @each $percent in 25, 50, 75 {
        $bgColor: rgba(red($value), green($value), blue($value), $percent/100);
        $color-tint-images-map: (
            #{$color}-solid-tint-#{$percent}: linear-gradient($bgColor, $bgColor, $bgColor),
            #{$color}-gradient-tint-#{$percent}: linear-gradient(180deg, mix($body-bg, $bgColor, 15%), $value),
        );

        @include add-bg-classes($color-tint-images-map);
    }
}
