
.frmdb-bg-parallax {
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.frmdb-bg-tint-parallax:before {
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.frmdb-bg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: var(--frmdb-bg-img);
}

.frmdb-bg-zoom-in {
    position: relative;

    &:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-image: var(--frmdb-bg-img);
        z-index: -1;
        animation-name: zoomInOut;
        animation-duration: 20s;
        animation-iteration-count: infinite;
    }
}

@each $color, $value in $theme-colors {

    @each $size in (1, 2, 3, 4, 5, 6, 7, 8, 9, 10) {
        .frmdb-bg-#{$color}-#{$size}0 { 
            background-color: transparentize($value, $size / 10) !important;
        }
    }
}

@each $color, $value in $theme-colors {

    .frmdb-bg-#{$color}-circles-1 {
        position: relative;

        &:before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: $value linear-gradient(180deg, mix($body-bg, $value, 15%), $value) repeat-x !important;
            z-index: -1;
        }
        &:after {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-image: str-replace(str-replace(str-replace(
                url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 800 500'><circle cx='0' cy='45' r='50' fill='#fff' fill-opacity='0.2' /><circle cx='70' cy='290' r='40' fill='#fff' fill-opacity='0.1' /><circle cx='200' cy='350' r='70' fill='#fff' fill-opacity='0.15' /><circle cx='370' cy='280' r='50' fill='#fff' fill-opacity='0.1' /><circle cx='780' cy='85' r='50' fill='#fff' fill-opacity='0.1' /><circle cx='770' cy='280' r='50' fill='#fff' fill-opacity='0.3' /><circle cx='760' cy='320' r='50' fill='#fff' fill-opacity='0.3' /></svg>")
            ,"#", "%23"),"<", "%3c"),">", "%3e");
            // background-size: 100% 100%;
            background-size: cover;
            z-index: -1;
        }
    }

    // <polygon fill='#fff' points='0,500 2000,500 2000,400 0,500'></polygon>

    @each $percent in 50, 75 {
        $bgColor: mix($dark, $value, percentage($percent/100 + 0.18));

        .frmdb-bg-tint-#{$color}-#{$percent} {
            position: relative;
            @include frmdb-section-dark-mixin($bgColor);
        }
        .frmdb-bg-tint-#{$color}-#{$percent}:before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-image: var(--frmdb-bg-img);
            z-index: -1;
            background-size: cover;
            background-position: center;
        }
        .frmdb-bg-tint-#{$color}-#{$percent}:after {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: rgba(red($bgColor), green($bgColor), blue($bgColor), $percent/100);
            z-index: -1;
        }
    }
}
