.d-grid {
    display: grid;
}

@each $align in (stretch, center, start, end) {
    .grid-align-self-#{$align} {
        align-self: $align;
    }
    .grid-justify-self-#{$align} {
        justify-self: $align;
    }
}

@each $start in (1, 2, 3, 4, 5, 6, 7, 8, 9, 10) {
    @each $end in (1, 2, 3, 4, 5, 6, 7, 8, 9, 10) {
        .grid-col-#{$start}-#{$end} {
            grid-column: #{$start} / #{$end};
        }
        .grid-row-#{$start}-#{$end} {
            grid-row: #{$start} / #{$end};
        }
    }
}

@each $x in (1, 2, 3, 4, 5, 6) {
    @each $y in (1, 2, 3, 4, 5, 6) {
        @each $w in (1, 2, 3, 4, 5, 6) {
            @each $h in (1, 2, 3, 4, 5, 6) {
                .grid-#{$x}-#{$y}-#{$w}-#{$h} {
                    grid-area: #{$y} / #{$x} / #{$y + $h} / #{$x + $w} ;
                }
            }
        }
    }
}
