@each $angle in (2, 3, 4, 5, 10, 20) {
  .skew-y-n#{$angle} {
    transform: skewY(-#{$angle}deg);
  }
  .skew-y-n#{$angle}-up {
    transform: skewY(-#{$angle}deg) translateY(-50%);
  }
  .skew-y-n#{$angle}-down {
    transform: skewY(-#{$angle}deg) translateY(50%);
  }
}
