
$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #f7f7f9;
$gray-300: #eceeef;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #919aa1;
$gray-700: #55595c;
$gray-800: #343a40;
$gray-900: #1a1a1a;
$black:    #000;

$blue:    #007bff;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #e83e8c;
$red:     #d9534f;
$orange:  #fd7e14;
$yellow:  #f0ad4e;
$green:   #4BBF73;
$teal:    #20c997;
$cyan:    #1F9BCF;

$primary:       $gray-900;
$secondary:     $white;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         $white;
$dark:          $gray-800;

$yiq-contrasted-threshold:  185;
