@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";

body {
    padding-top: 3.2rem;
    padding-bottom: 2rem;
    min-width: 25rem;
  }

  .mwz-panel{
    overflow: auto
  }
  
  @media print {
    @page {
      margin: 0;
    }
    body {
      padding: 2rem;
    }
  }
    
  .mwz-editor .editor {
    width:100%;
    min-height: 700px;
    white-space: nowrap;
    background-color: black;
    color: white;
    font-weight: bold;
  }
  
  select:invalid {
    color: lightgray;
  }
  
  .modal-backdrop {
    opacity: 0.7;
    &.in {
      opacity: .7;
    }
  }
  
  h5.modal-title {
    display: inline;
  }
  
  .btn-xs,
  .btn-group-xs>.btn {
    padding: 0.15rem 0.3rem;
    font-size: 0.775rem;
    border-radius: 0.2rem;
  }
  
  .form-control-xs,
  .input-group-xs>.form-control,
  .input-group-xs>.input-group-addon,
  .input-group-xs>.input-group-btn>.btn {
    padding: 0.15rem 0.3rem;
    font-size: 0.775rem;
    border-radius: 0.2rem;
  }
  
  .mwz-table {
      width: 100%;
      tbody {
          height: 30em;
          overflow-y: auto;
          width: 90%;
      }
      thead{
          width:90%;
      }
      thead,
      tbody,
      th {
          display: block;
      }
      tbody {
          td {
              float: left;
          }
      }
      thead {
          tr {
              th {
                  float: left;
              }
          }
      }
  }
  
  .mwz-data-table{
      td{
          white-space: nowrap;
          overflow: hidden;
      }
  }
  