@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";

body {
    padding-top: 5.5rem;
    padding-bottom: 2rem;
    min-width: 25rem;
  }
  
  @media print {
    @page {
      margin: 0;
    }
    body {
      padding: 2rem;
    }
  }
  
  .navbar {
    margin-right: 20%;
  }
  .mwz-body {
    margin-right: 20%;
    position: fixed;
    bottom: 1rem;
    top: 5rem;
    width: 100%;
    min-width: 60rem;
    .mwz-independent-scroll {
      height: 100%;
      overflow: auto;
    }
  }
  
  .mwz-editor {
    width: 20%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    padding: 10px;
    border: 1px solid grey;
  }
  
  .mwz-sidebar {
    width: 20%;
    float: left;
  }
  
  .mwz-content {
    width: 55%;
    float: left;
  }
  
  .mwz-editor .editor {
    height: 100%;
    width: 100%;
  }
  
  .ld-article-collapsed {
    .card-text {
      max-height: 10.5rem;
      overflow: hidden;
    }
    footer {
      font-size: 1rem;
    }
  }
  
  .author-MP {
    border-bottom: 2px solid #9b59b6;
  }
  
  .author-LAW_OFFICER {
    border-bottom: 2px solid #f39c12;
  }
  
  .author-REGULAR {
    border-bottom: 2px solid #bdc3c7;
  }
  
  select:invalid {
    color: lightgray;
  }
  
  .modal-backdrop {
    opacity: 0.7;
    &.in {
      opacity: .7;
    }
  }
  
  h5.modal-title {
    display: inline;
  }
  
  .btn-xs,
  .btn-group-xs>.btn {
    padding: 0.15rem 0.3rem;
    font-size: 0.775rem;
    border-radius: 0.2rem;
  }
  
  .form-control-xs,
  .input-group-xs>.form-control,
  .input-group-xs>.input-group-addon,
  .input-group-xs>.input-group-btn>.btn {
    padding: 0.15rem 0.3rem;
    font-size: 0.775rem;
    border-radius: 0.2rem;
  }
  
  .mwz-table {
      width: 100%;
      tbody {
          height: 30em;
          overflow-y: auto;
          width: 90%;
      }
      thead{
          width:90%;
      }
      thead,
      tbody,
      th {
          display: block;
      }
      tbody {
          td {
              float: left;
          }
      }
      thead {
          tr {
              th {
                  float: left;
              }
          }
      }
  }
  
  .mwz-data-table{
      td{
          white-space: nowrap;
          overflow: hidden;
      }
  }
  