$overlay-background-color: #4285f4 !default;

.live-dom-editor {
    overflow: hidden;
    pointer-events: none;
    white-space: nowrap;

    .overlay {
        position:absolute;
        border:1px solid $overlay-background-color;
        width:0px;
        height:0px;
        top:0px;
        left:0px;
        display:none;    
    }
}
