/**
 * © 2018 S.C. FORMULA DATABASE S.R.L.
 * License TBD
 */


@import "../../../formuladb-env/scss/line-awesome";
@import "~/bootstrap/bootstrap";
@import "~ag-grid-community/dist/styles/ag-grid";
@import "~ag-grid-community/dist/styles/ag-theme-balham";

:host {
  min-width: 28vw;
  min-height: 18vh;
  height: 100%;
  display: block;
}

.ag-theme-balham .ag-cell {
  line-height: var(--frmdb-data-grid-row-lh, 26px) !important;
}
.ag-theme-balham .ag-name-value {
  padding: 0 !important;
}

::-webkit-scrollbar {
  width: 2px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px lightgrey; 
  border-radius: 2px;
}
::-webkit-scrollbar-thumb {
  background: grey; 
  border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
  background: darkgray; 
}

:host .ag-tool-panel-wrapper {
  width: 320px;
}