<div *ngIf="layout == null" class="header-wrapper frmdb-layout">
    <div class="header" style="background-image: url('/assets/img/banner/full-screen-image-3.jpg');">
        <div class="filter" [attr.data-color]="(themeColorPalette$ | async) || 'default'"></div>
    </div>
</div>

<!----------------------------------------------------------------------------------------------------------------
    landing 
------------------------------------------------------------------------------------------------------------------>
<div *ngIf="layout == 'landing'" class="frmdb-layout frmdb-layout-landing">
    <div class="header-wrapper">
        <nav class="navbar navbar-transparent fixed-top" role="navigation" color-on-scroll>
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <!-- <button id="menu-toggle" type="button" class="navbar-toggle">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar bar1"></span>
                    <span class="icon-bar bar2"></span>
                    <span class="icon-bar bar3"></span>
                </button> -->
                    <a href="/">
                        <div class="logo-container">
                            <div class="logo">
                                <img [src]="(page$|async)?.logoUrl ||'/assets/formuladb256.png'" width="145" height="42" />
                            </div>
                            <div class="brand">
                                {{(page$|async)?.brandName}}
                            </div>
                        </div>
                    </a>
                </div>

                <div frmdb-h_nav class="collapse navbar-collapse">
                </div>
            </div>
        </nav>

        <div class="header" style="background-image: url('/assets/img/banner/full-screen-image-3.jpg');">
            <div class="filter" [attr.data-color]="(themeColorPalette$ | async) || 'default'"></div>
            <div class="frmdb-content">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>

<!-----------------------------------------------------------------------------------------------------------------
    dashboard 
------------------------------------------------------------------------------------------------------------------>
<div *ngIf="layout == 'dashboard'" class="frmdb-layout frmdb-layout-dashboard">
    <div class="wrapper">
        <div class="sidebar" [attr.data-image]="sidebarImageUrl$ | async" [attr.data-color]="(themeColorPalette$ | async) || 'default'">
            <!--
            Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"
            
            Tip 2: you can also add an image using data-image tag
        -->
            <div class="sidebar-wrapper" [style.background-image]="'background-image: url(' + (sidebarImageUrl$ | async) + ')'">
                <div class="logo">
                    <a href="/" class="simple-text">
                        <img [src]="(page$|async)?.logoUrl ||'/assets/formuladb256.png'" width="145" height="42" />
                        <strong style="font-size: 32px">{{(page$|async)?.brandName}}</strong>
                    </a>
                </div>
                <frmdb-v_nav class="nav"></frmdb-v_nav>
            </div>
            <div class="sidebar-background" [style.background-image]="'url(' + (sidebarImageUrl$ | async) + ')' "></div>
        </div>
        <div class="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg " color-on-scroll="500">
                <div class=" container-fluid  ">
                    <!-- <a class="navbar-brand" href="#pablo">
                    {{ (selectedEntity$ | async)?._id | i18n }}
                </a> -->
                    <button href="" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" aria-controls="navigation-index"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-bar burger-lines"></span>
                        <span class="navbar-toggler-bar burger-lines"></span>
                        <span class="navbar-toggler-bar burger-lines"></span>
                    </button>
                    <div frmdb-h_nav class="collapse navbar-collapse justify-content-end" id="navigation">
                    </div>
                </div>
            </nav>

            <!-- End Navbar -->
            <div class="content">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>

<!-----------------------------------------------------------------------------------------------------------------
    footer 
------------------------------------------------------------------------------------------------------------------>
<footer class="footer">
    <div class="container">
        <nav>
            <p class="copyright text-center">
                <span style="font-size: 70%; color: lightgrey">
                    Powered by
                    <a href="http://formuladb.io" target="_blank">formuladb.io</a> &copy; 2018 S.C. FORMULA DATABASE S.R.L. &nbsp;
                </span>
                <span style="font-size: 60%; color: lightgrey">
                    ( webdesign &copy; 2018
                    <a style="color: grey" href="http://www.creative-tim.com">Creative Tim</a>,
                    Some icons by <a style="color: grey" href="http://www.freepik.com" title="Freepik">Freepik</a> from <a style="color: grey"
                        href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a style="color: grey"
                        href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
                    )
                </span>
            </p>
        </nav>
    </div>
</footer>