<div *ngIf="layout == null" class="header-wrapper frmdb-layout">
    <div class="header" style="background-image: url('/assets/img/banner/full-screen-image-3.jpg');">
        <div class="filter" [attr.data-color]="themeColorPalette || 'default'"></div>
    </div>
</div>

<!----------------------------------------------------------------------------------------------------------------
    landing 
------------------------------------------------------------------------------------------------------------------>
<frmdb-ly-cover *ngIf="layout == 'frmdb-ly-cover'" [page]="page$|async"></frmdb-ly-cover>

<!-----------------------------------------------------------------------------------------------------------------
    dashboard 
------------------------------------------------------------------------------------------------------------------>
<frmdb-ly-admin *ngIf="layout == 'frmdb-ly-admin'" [page]="page$|async"></frmdb-ly-admin>

<!-----------------------------------------------------------------------------------------------------------------
    footer 
------------------------------------------------------------------------------------------------------------------>
<footer class="footer">
    <div class="container">
        <nav>
            <p class="copyright text-center">
                <span style="font-size: 70%; color: lightgrey">
                    Powered by
                    <a href="http://formuladb.io" target="_blank">formuladb.io</a> &copy; 2018 S.C. FORMULA DATABASE S.R.L. &nbsp;
                </span>
                <span style="font-size: 60%; color: lightgrey">
                    ( webdesign &copy; 2018
                    <a style="color: grey" href="http://www.creative-tim.com">Creative Tim</a>,
                    Some icons by <a style="color: grey" href="http://www.freepik.com" title="Freepik">Freepik</a> from <a style="color: grey"
                        href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a style="color: grey"
                        href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
                    )
                </span>
            </p>
        </nav>
    </div>
</footer>