@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700,200");
// @import url("https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css");
@font-face {
    font-family: 'nucleo-icons';
    src: url('/assets/light-theme/fonts/nucleo-icons.eot');
    src: url('/assets/light-theme/fonts/nucleo-icons.eot') format('embedded-opentype'), url('/assets/light-theme/fonts/nucleo-icons.woff2') format('woff2'), url('/assets/light-theme/fonts/nucleo-icons.woff') format('woff'), url('/assets/light-theme/fonts/nucleo-icons.ttf') format('truetype'), url('/assets/light-theme/fonts/nucleo-icons.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

:host ::ng-deep {
    @import "~bootstrap/scss/bootstrap.scss";
    @import "./light-bootstrap-dashboard";

    frmdb-ly-admin {
        .show .dropdown-menu {
            @include opacity(1);
            visibility: visible;
            transform: translate3d(0px, 0px, 0px) !important;
        }

        .main-panel > .content {
            padding: 30px 15px;
            min-height: calc(100% - 123px);
        }
    }

    frmdb-ly-cover {
        @import "./frmdb-ly-cover";

        frmdb-form frmdb-header {
            text-align: center;
            color: #fff;
            display: block;
            margin-top: 30vh;
            height: 90vh;
        }
    
        frmdb-form frmdb-card_container frmdb-card {
            flex: 1 0 45% !important ;
        }

        .navbar > .container {
            display: block;
        }

        .navbar-header {
            float: left;
        }

        .frmdb-content {
            margin-top: 40px;
        }

        .navbar-nav.navbar-right {
            display: block;
            float: right;
        }
        
        .nav>li {
            display: block;
            float: left;
            position: relative;
        }

        .dropdown-menu {
            display: none;
        }
    }
}
