:root {
    --db-navbar-height: 0px;
}

#db-left-panel .header {
    font-size: 11px;
    font-weight: 600;
    height: 2rem;
    margin: 0;
    padding: 0;
    width: 100%;
    line-height: 2rem;
    text-align: left;
    padding-left: 1rem;
    border-bottom: 1px solid #ddd;
    margin-bottom: 0rem;
    padding: 0.0rem 0.5rem;
    padding: 0rem 0rem 0.5rem 1rem;    
}

frmdb-db-editor.preview {
    display: none;
}

frmdb-db-editor {
    height: calc(var(--db-panel-height) - var(--db-navbar-height)); 
    position: fixed; 
    top: 0;
    left: 0;
    display: flex;
    // border-bottom: 4px solid var(--primary);
}

frmdb-v-nav {
    display: block;
    height: calc(100% - 32px);
    overflow: auto;
}

#preview-btn.preview {
    position: fixed;
    top: 5px;
    left: 5px;
    box-shadow: 2px 2px 2px 2px grey;
    z-index: 2000;
    padding: 0; width: 32px; height: 32px; border-radius: 30%;
}

#db-left-panel { 
    width: var(--builder-left-panel-width);
}
#db-main { 
    width: calc( 100vw - var(--builder-left-panel-width)); 
}
#db-left-panel, #db-main {
    margin-top: var(--db-navbar-height); 
    background-color: white; 
    z-index: 9456;
}

.tree ol li > a {
    cursor: pointer;
}

.drag-elements .header .nav.nav-tabs .nav-item .nav-link {
    padding: 5px 0 5px 0;
}
