:root {
    --db-navbar-height: 0px;
}

frmdb-db-editor.preview {
    display: none;
}

frmdb-db-editor {
    height: calc(var(--db-panel-height) - var(--db-navbar-height)); 
    position: fixed; 
    top: 0;
    left: var(--builder-left-panel-width);
    display: flex;
    // border-bottom: 4px solid var(--primary);
}

frmdb-v-nav {
    display: block;
    height: calc(100% - 32px);
    overflow: auto;
}

#preview-btn.preview {
    position: fixed;
    top: 5px;
    left: 5px;
    box-shadow: 2px 2px 2px 2px grey;
    z-index: 2000;
    padding: 0; width: 32px; height: 32px; border-radius: 30%;
}

#db-main { 
    width: calc( 100vw - var(--builder-left-panel-width)); 
    margin-top: var(--db-navbar-height); 
    background-color: white; 
    z-index: 9456;
}

.tree ol li > a {
    cursor: pointer;
}

.drag-elements .header .nav.nav-tabs .nav-item .nav-link {
    padding: 5px 0 5px 0;
}
