<div id="db-left-panel">
    <div class="header">
        <a href="#" class="text-secondary">Tables</a>

        <div class="btn-group responsive-btns mr-4 float-right" role="group">
            <button class="btn btn-link btn-sm" title="New Table" id="new-table-btn">
                <i class="la la-file"></i> <small>New table</small>
            </button>
        </div>
    </div>
    <frmdb-v-nav></frmdb-v-nav>
</div>
<div id="db-main">
    <frmdb-data-grid table_name="N/A" no_floating_filter="true"></frmdb-data-grid>
</div>
