/* You can add global styles to this file, and also import other style files */

@import './styles/nodes';
@import './styles/misc';
@import './styles/sizing';
@import './styles/layout';
@import './assets/themes/basic.min.css';

.frmdb-dev-mode-on .frmdb-fixed-top-0 {
    top: 234.56px !important;
}

::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px lightgrey; 
    border-radius: 2px;
}
::-webkit-scrollbar-thumb {
    background: grey; 
    border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
    background: darkgray; 
}

frmdb-form_text {
    position: relative;
}
body.frmdb-dev-mode-on {
    frmdb-form_text::after {
        content: url('/assets/icons/ellipsis-v-solid.svg');
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 5px;
        color: rgb(234,88,72);
        background-color: #dddddd;
        display: block;
        cursor: pointer;
    }
}
