:host.names-hidden {
    .box .name {
        display: none;
    }
}

:host([disabled="true"]) .box {
    display: none !important;
}

.box {
    position: absolute;
    display: block;
    border: 1px solid rgb(61, 133, 253);
    // background-color: rgba(61, 133, 253, 0.05);
    pointer-events: none;
    z-index: 10;

    &.is-at-top .actions, &.is-at-top .name { 
        transform: translateY(0%); 
    }

    &#grand-parent-highlight {
        border: 2px dotted yellow;
        margin: -4px 0 0 -4px;
        padding: 4px;
    }
    &#parent-highlight {
        border: 2px dotted red;
        margin: -2px 0 0 -2px;
        padding: 2px;
    }
    &#prev-highlight {
        border: 1px dotted rgb(61, 133, 253);
    }
    &#parent-selected {
        border: 2px solid red;
        margin: -2px 0 0 -2px;
        padding: 2px;
    }

    &#selected {
        border-style: solid;
        background-color: rgba(61, 131, 253, 0.2);
        border: 2px solid rgb(61, 133, 253);
    }

    &#selected.editing {
        background-color: transparent;

        .actions.selected {
            display: none;
        }
        
        .actions.editing {
            display: flex;
        }
    }

    .name {
        white-space: nowrap;
    }
    > .name {
        position: absolute;
        top: 0;
        transform: translateY(-100%);
        left: 0px;
    }

    .name > .grand-parent {
        background-color: green;
        color: white;
    }
    .name > .parent {
        background-color: yellow;
        color: black;
    }
    .name > .elem {
        background-color: #4285f4;
        color: white;
    }

    .actions {
        position: absolute;
        top: 0;
        transform: translateY(-100%);
        right: 0px;
        display: flex;
        flex-wrap: nowrap;
        &.editing { display: none; }
        justify-content: center;

        > a:hover {
            background-color: #2777f8;
            transform: scale(1.2);
        }

        > * {
            background-color: #4285f4;
            color: white;
            font-size: 14px;
            padding: 4px;
            text-decoration: none;
            pointer-events: initial;
        }
        
        &.bottom {
            top: 100%;
            left: 0px;
            transform:translateY(-50%);

            * {
                border-radius: 10px;
            }
        }
    }
}
