:host.names-hidden {
    .box .name {
        display: none;
    }
}

:host([disabled="true"]) .box {
    display: none !important;
}

.box {
    position: absolute;
    display: block;
    border: 2px solid rgb(61, 133, 253);
    // background-color: rgba(61, 133, 253, 0.05);
    pointer-events: none;
    z-index: 10;

    &.is-at-top .actions, &.is-at-top .name { 
        transform: translateY(0%); 
    }

    &.sibling-highlight {
        border: 1px dashed rgba(61, 133, 253, 1);
    }
    &.parent-highlight {
        border: 1px solid red;
    }   
    &.grand-parent-highlight {
        border: 4px dotted yellow;
    }

    &#selected {
        border-style: solid;
        background-color: rgba(61, 131, 253, 0.35);
        border: 2px solid rgba(61, 133, 253, 0.5);
    }
    &.sibling-selected {
        border: 0;
    }
    &.parent-selected {
        border: 0;
        .actions.related * {
            background-color: red;
            color: white;
        }
    }
    &.grand-parent-selected {
        border: 0;
        .actions.related * {
            background-color: yellow;
            color: black;
        }
    }

    &#selected.editing {
        background-color: transparent;

        .actions.selected, .add-elements {
            display: none;
        }
        
        .actions.editing {
            display: flex;
        }
    }

    &#selected.add-elements {
        background-color: transparent;

        .actions.selected, .actions.editing {
            display: none;
        }
        
        .actions.add-elements {
            display: flex;
        }
    }

    .name {
        white-space: nowrap;
    }
    > .name {
        position: absolute;
        top: 0;
        transform: translateY(-100%);
        left: 0px;
    }

    .name > .grand-parent {
        background-color: green;
        color: white;
    }
    .name > .parent {
        background-color: yellow;
        color: black;
    }
    .name > .elem {
        background-color: #4285f4;
        color: white;
    }

    .actions {
        position: absolute;
        z-index: 11;
        top: 0;
        transform: translateY(-100%);
        right: 0px;
        display: flex;
        flex-wrap: nowrap;
        &.editing { display: none; }
        &.add-elements { display: none; }
        justify-content: center;

        a:hover {
            background-color: #2777f8;
            transform: scale(1.2);
        }

        * {
            background-color: #4285f4;
            color: white;
            font-size: 14px;
            padding: 4px;
            text-decoration: none;
            pointer-events: initial;
        }

        &.related {
            transform: scale(0.75) translateY(-100%);
            top: 0;
            left: 0;
            right: initial;
            padding: 2px;

            * {
                padding: 0;
            }
        }
        
        &.bottom {
            top: 100%;
            left: 0px;
            transform:translateY(-50%);

            * {
                border-radius: 10px;
            }
        }
    }
}
