:host {

    .highlighted {
        border: 2px dotted rgb(61, 133, 253);
    }

    [slot="actions-top"] { 
        background-color: rgba(61, 133, 253, 0.75);
        &,* {
            color: white;
        }
    }
}
