<link rel="stylesheet" href="/formuladb/frmdb-editor.min.css">

<link rel="stylesheet" href="/formuladb/icons/frmdb-icons.css" />
<link rel="stylesheet" href="/formuladb-env/css/_transform.css">


<frmdb-highlight id="highlight-box">
    <div slot="actions-top">
        <span class="component-name text-nowrap"></span>
    </div>
</frmdb-highlight>

<frmdb-highlight id="selected-box">
    <div slot="actions-top">
        <slot name="actions-for-selected-elem"></slot>
    </div>
</frmdb-highlight>