<link rel="stylesheet" href="/formuladb-env/icons/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="/formuladb-env/icons/formuladb/icons.css">
<link rel="stylesheet" href="/formuladb-env/css/_transform.css">

<div id="grand-parent-highlight" class="box">
</div>
<div id="parent-highlight" class="box">
</div>
<div id="prev-highlight" class="box">
</div>

<div id="highlight" class="box">
    <div class="name">
        <!-- <div class="grand-parent"></div>
        <div class="parent"></div> -->
        <div class="elem"></div>
    </div>
    <div class="actions bottom">
        <!-- <a id="add-section-btn" href="javascript:void(0)" title="Add element"><i class="fa fa-plus-circle"></i></a> -->
    </div>
</div>

<div id="parent-selected" class="box">
</div>
<div id="selected" class="box">
    <div class="actions selected">
        <!-- <a class="btn" data-frmdb-action="drag" href="javascript:void(0)" title="Drag element"><i class="fa fa-arrows"></i></a> -->
        <a class="btn" data-frmdb-action="parent" href="javascript:void(0)" title="Select parent element"><i class="fa fa-level-down-alt fa-rotate-180"></i></a>
        <a class="btn" data-frmdb-action="prev" href="javascript:void(0)" title="Select previous sibling element"><i class="fa fa-level-down-alt fa-rotate-90"></i></a>
        <a class="btn" data-frmdb-action="up" href="javascript:void(0)" title="Move element up"><i class="fa fa-arrow-up"></i></a>
        <a class="btn" data-frmdb-action="down" href="javascript:void(0)" title="Move element down"><i class="fa fa-arrow-down"></i></a>
        <a class="btn" data-frmdb-action="edit" href="javascript:void(0)" title="Edit element text"><i class="fa fa-edit"></i></a>
        <a class="btn" data-frmdb-action="clone" href="javascript:void(0)" title="Clone element"><i class="fa fa-copy"></i></a>
        <a class="btn" data-frmdb-action="add-inside" href="javascript:void(0)" title="Add element inside"><i class="fa fa-plus-circle"></i></a>
        <a class="btn" data-frmdb-action="add-after" href="javascript:void(0)" title="Add element after"><i class="fa fa-plus"></i></a>
        <a class="btn" data-frmdb-action="delete" href="javascript:void(0)" title="Remove element"><i class="fa fa-trash"></i></a>
    </div>
    <div class="actions add-elements">
        <a class="btn" data-frmdb-action="parent" href="javascript:void(0)" title="Select parent element"><i class="fa fa-level-down-alt fa-rotate-180"></i></a>
        <a class="btn" data-frmdb-action="prev" href="javascript:void(0)" title="Select previous sibling element"><i class="fa fa-level-down-alt fa-rotate-90"></i></a>
        <a class="btn" data-frmdb-action="choose" href="javascript:void(0)" title="Choose Element"><i class="fa fa-hand-pointer"></i></a>
    </div>
    <div class="actions editing">
        <a class="btn" id="bold-btn" href="javascript:void(0)" title="Bold"><i><strong>B</strong></i></a>
        <a class="btn" id="italic-btn" href="javascript:void(0)" title="Italic"><i>I</i></a>
        <a class="btn" id="underline-btn" href="javascript:void(0)" title="Underline"><u>u</u></a>
        <a class="btn" id="strike-btn" href="javascript:void(0)" title="Strikeout"><del>S</del></a>
        <a class="btn" id="link-btn" href="javascript:void(0)" title="Create link"><strong>a</strong></a>
    </div>
</div>
