<link rel="stylesheet" href="/formuladb-static/icons/line-awesome/css/line-awesome.min.css">

<div id="hover" class="box">
    <div class="name"></div>
    <div class="actions bottom">
        <a id="add-section-btn" href="" title="Add element"><i class="la la-plus-circle"></i></a>
    </div>
</div>

<div id="clicked" class="box">
    <div class="actions">
        <a id="drag-btn" href="" title="Drag element"><i class="la la-arrows"></i></a>
        <a id="parent-btn" href="" title="Select parent"><i class="la la-level-down la-rotate-180"></i></a>

        <a id="up-btn" href="" title="Move element up"><i class="la la-arrow-up"></i></a>
        <a id="down-btn" href="" title="Move element down"><i class="la la-arrow-down"></i></a>
        <a id="clone-btn" href="" title="Clone element"><i class="la la-copy"></i></a>
        <a id="delete-btn" href="" title="Remove element"><i class="la la-trash"></i></a>
    </div>
</div>

<div id="dblclicked" class="box">
    <div class="actions">
        <a id="bold-btn" href="" title="Bold"><i><strong>B</strong></i></a>
        <a id="italic-btn" href="" title="Italic"><i>I</i></a>
        <a id="underline-btn" href="" title="Underline"><u>u</u></a>
        <a id="strike-btn" href="" title="Strikeout"><del>S</del></a>
        <a id="link-btn" href="" title="Create link"><strong>a</strong></a>
    </div>
</div>
